layer-5-extensions/autonomous-agent-ops/workflows/antigravity_knowledge_drop.json
{
  "name": "Antigravity Demo: Knowledge Drop",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "55c8ea86-7016-4590-9075-bad754d6743d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://uselessfacts.jsph.pl/api/v2/facts/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [128, 0],
      "id": "944476c8-8a89-43d7-a493-9677ef3eda81",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0e58b5e-1652-48c5-8b94-3a9691d4b65a",
              "name": "fact",
              "value": "={{ $node[\"HTTP Request\"].json[\"text\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [336, 0],
      "id": "60e56fcc-bcf3-4c95-883a-fde27d0dc2f7",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
