payload.json
{"name": "\ud83e\udd16 AI Influencer Factory v3 \u2014 Enterprise Edition (Plan B)", "nodes": [{"parameters": {"jsCode": "// ============================================================\n// \u2699\ufe0f ENTERPRISE GLOBAL CONFIGURATION\n// Conform to: https://github.com/kspandian32-sudo/Enterprise-n8n-Architectures\n// ============================================================\n\nreturn [{\n  json: {\n    spreadsheetId: \"1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg\",\n    masterSheetName: \"Master\",\n    calendarSheetName: \"Calendar\",\n    safeMode: true,\n    logDrainUrl: \"https://n8n.pureremedysolutions.com/webhook/log-drain\",\n    smtpFrom: \"Influencer Factory <kspandian32@gmail.com>\",\n    sheetUrl: \"https://docs.google.com/spreadsheets/d/1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg/edit\"\n  }\n}];"}, "id": "62b91848-bae5-4dbf-ac00-4f6e6a921a74", "name": "\u2699\ufe0f Global Config", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-624, 0]}, {"parameters": {"formTitle": "\ud83e\udd16 AI Influencer Factory (Plan B)", "formDescription": "Enter details. AI will generate character sheets & 30-day calendar.", "formFields": {"values": [{"fieldLabel": "Influencer Name", "requiredField": true}, {"fieldLabel": "Instagram Handle", "requiredField": true}, {"fieldLabel": "Niche", "fieldType": "dropdown", "fieldOptions": {"values": [{"option": "Fitness & Wellness"}, {"option": "Fashion & Lifestyle"}, {"option": "Travel & Adventure"}, {"option": "AI & Tech"}, {"option": "Business & Finance"}, {"option": "Food & Cooking"}, {"option": "Beauty & Skincare"}, {"option": "Motivation & Mindset"}]}, "requiredField": true}, {"fieldLabel": "Your Email", "requiredField": true}]}, "options": {}}, "id": "2eed2e48-7466-4c03-84f1-6fb9660ffeb4", "name": "\ud83d\udccb Influencer Brief", "type": "n8n-nodes-base.formTrigger", "typeVersion": 2.2, "position": [-848, 0], "webhookId": "670c1dd0-7e9d-4f15-9635-0bd6836dde42"}, {"parameters": {"resource": "chat", "model": "gpt-4o-mini", "prompt": {"messages": [{"role": "system", "content": "You are an expert AI influencer strategist. Create detailed virtual influencer character sheets. Return ONLY raw valid JSON. DO NOT use markdown blocks like ```json, just return the raw object starting with {."}, {"content": "={{ \"Create a detailed character profile for: \" + $json[\"Influencer Name\"] + \"\\nNiche: \" + $json.Niche + \"\\n\\nReturn this EXACT JSON structure:\\n{\\n  \\\"personality\\\": \\\"3 descriptive words\\\",\\n  \\\"aesthetic\\\": \\\"Visual style description\\\",\\n  \\\"bio\\\": \\\"Instagram bio with emojis\\\",\\n  \\\"master_prompt\\\": \\\"Master appearance description for image generation\\\",\\n  \\\"caption_style\\\": \\\"Tone of voice description\\\",\\n  \\\"content_pillars\\\": [\\\"List of 3 pillars\\\"],\\n  \\\"target_audience\\\": \\\"Primary demographic\\\",\\n  \\\"hashtags\\\": \\\"#tag1 #tag2 #tag3\\\"\\n}\" }}"}]}, "options": {}, "requestOptions": {}}, "id": "73785a42-eadb-4990-a48a-c3b845648309", "name": "\ud83e\udd16 AI: Character Sheet", "type": "n8n-nodes-base.openAi", "typeVersion": 1, "position": [-400, 0], "credentials": {"openAiApi": {"id": "So1Wi5RlSonVFbIN", "name": "OpenAI fresh-key"}}}, {"parameters": {"resource": "chat", "model": "gpt-4o-mini", "prompt": {"messages": [{"role": "system", "content": "You are an Instagram content strategist. Create detailed content calendars with ready-to-use Ideogram AI image prompts. Return ONLY a raw JSON array. DO NOT use markdown blocks like ```json, just return the raw array starting with [."}, {"content": "={{ \"Create a 30-day Instagram calendar for \" + $node[\"\ud83d\udccb Influencer Brief\"].json[\"Influencer Name\"] + \".\\n\\nCharacter Profile: \" + $node[\"\ud83e\udd16 AI: Character Sheet\"].json.message.content + \"\\n\\nReturn a JSON ARRAY of 30 items. Each item:\\n{\\n  \\\"day\\\": 1,\\n  \\\"type\\\": \\\"Feed Post or Carousel or Reel or Story\\\",\\n  \\\"photo_description\\\": \\\"What the image shows\\\",\\n  \\\"ideogram_prompt\\\": \\\"FULL Ideogram prompt for this specific scene.\\\",\\n  \\\"caption\\\": \\\"2-3 line Instagram caption\\\",\\n  \\\"hashtags\\\": \\\"15 hashtags as string\\\",\\n  \\\"posting_time\\\": \\\"Time in IST\\\"\\n}\" }}"}]}, "options": {"maxTokens": 16384}, "requestOptions": {}}, "id": "dd9b0a0b-a61f-4edb-aee2-ae9214c9a3dd", "name": "\ud83e\udd16 AI: 30-Day Calendar", "type": "n8n-nodes-base.openAi", "typeVersion": 1, "position": [-176, 0], "credentials": {"openAiApi": {"id": "So1Wi5RlSonVFbIN", "name": "OpenAI fresh-key"}}}, {"parameters": {"jsCode": "const charAi = JSON.parse($node[\"\ud83e\udd16 AI: Character Sheet\"].json.message.content.replace(/```json/gi, '').replace(/```/g, '').trim());\nconst form = $node[\"\ud83d\udccb Influencer Brief\"].json;\n\nreturn [{\n  json: {\n    Name: form[\"Influencer Name\"],\n    Handle: form[\"Instagram Handle\"],\n    Niche: form[\"Niche\"],\n    Gender: \"Generated\",\n    Age: \"24\",\n    Location: \"India\",\n    Personality: charAi.personality,\n    Aesthetic: charAi.aesthetic,\n    Bio: charAi.bio,\n    \"Hashtag Bank\": charAi.hashtags,\n    Timestamp: new Date().toISOString()\n  }\n}];"}, "id": "67458a6c-77ea-40b0-988a-36bacec57e52", "name": "\ud83d\udd27 Data Normalizer", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [48, 0]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $(\"\u2699\ufe0f Global Config\").first().json.spreadsheetId }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "={{ $(\"\u2699\ufe0f Global Config\").first().json.masterSheetName }}", "mode": "name"}, "columns": {"mappingMode": "autoMapInputData"}, "options": {}}, "id": "297b17a1-41fa-4896-96a3-ad1dc1e550c6", "name": "\ud83d\udcdd Log to Master", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [272, 0], "credentials": {"googleSheetsOAuth2Api": {"id": "hiWj9Xv9QRzG92uS", "name": "AI Lead Gen Machine Google Sheets"}}}, {"parameters": {"jsCode": "const content = $node[\"\ud83e\udd16 AI: 30-Day Calendar\"].json.message.content.replace(/```json/gi, '').replace(/```/g, '').trim();\nconst calAi = JSON.parse(content + (content.endsWith(\"]\") ? \"\" : \"]\"));\nconst form = $node[\"\ud83d\udccb Influencer Brief\"].json;\nconst influencer = form[\"Influencer Name\"] + \" (\" + form[\"Instagram Handle\"] + \")\";\n\nif (!Array.isArray(calAi)) return [];\n\nreturn calAi.map(day => ({ json: {\n  Influencer: influencer,\n  Day: day.day,\n  Type: day.type,\n  \"Photo Description\": day.photo_description,\n  \"Ideogram Prompt\": day.ideogram_prompt,\n  Caption: day.caption,\n  Hashtags: day.hashtags,\n  \"Posting Time\": day.posting_time,\n  \"Image Status\": \"Not Generated\",\n  \"Video Status\": \"Not Generated\",\n  Posted: \"No\"\n} }));"}, "id": "48df71df-7d6c-4d13-bda7-52af13aa7aa7", "name": "\ud83d\udd27 Expand Calendar", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [496, 96]}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "={{ $(\"\u2699\ufe0f Global Config\").first().json.spreadsheetId }}", "mode": "id"}, "sheetName": {"__rl": true, "value": "={{ $(\"\u2699\ufe0f Global Config\").first().json.calendarSheetName }}", "mode": "name"}, "columns": {"mappingMode": "autoMapInputData"}, "options": {}}, "id": "74fe02cf-11e6-4d73-8ec3-03fea5d3ef0b", "name": "\ud83d\udcdd Log Calendar", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [720, 96], "credentials": {"googleSheetsOAuth2Api": {"id": "hiWj9Xv9QRzG92uS", "name": "AI Lead Gen Machine Google Sheets"}}}, {"parameters": {"toEmail": "={{ $(\\\"\ud83d\udccb Influencer Brief\\\").item.json[\\\"Your Email\\\"] }}", "fromEmail": "={{ $(\\\"\u2699\ufe0f Global Config\\\").first().json.smtpFrom }}"}, "id": "ce585165-ebd7-47b2-8586-45d467f92c10", "name": "\ud83d\udce7 SMTP: Send Package", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [496, -96], "webhookId": "b020ba07-8d4d-4d6b-929c-edf9ab6133bc", "credentials": {"smtp": {"id": "udtIzlJq8iqmL3aZ", "name": "SMTP account - kspandian32"}}}], "connections": {"\ud83d\udccb Influencer Brief": {"main": [[{"node": "\u2699\ufe0f Global Config", "type": "main", "index": 0}]]}, "\u2699\ufe0f Global Config": {"main": [[{"node": "\ud83e\udd16 AI: Character Sheet", "type": "main", "index": 0}]]}, "\ud83e\udd16 AI: Character Sheet": {"main": [[{"node": "\ud83e\udd16 AI: 30-Day Calendar", "type": "main", "index": 0}]]}, "\ud83e\udd16 AI: 30-Day Calendar": {"main": [[{"node": "\ud83d\udd27 Data Normalizer", "type": "main", "index": 0}]]}, "\ud83d\udd27 Data Normalizer": {"main": [[{"node": "\ud83d\udcdd Log to Master", "type": "main", "index": 0}]]}, "\ud83d\udcdd Log to Master": {"main": [[{"node": "\ud83d\udce7 SMTP: Send Package", "type": "main", "index": 0}, {"node": "\ud83d\udd27 Expand Calendar", "type": "main", "index": 0}]]}, "\ud83d\udd27 Expand Calendar": {"main": [[{"node": "\ud83d\udcdd Log Calendar", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "binaryMode": "separate", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}}