WEEK_9_SUBMISSION/AI Influencer Factory v3 — Auto-Publisher.json
{
  "updatedAt": "2026-04-28T07:39:41.437Z",
  "createdAt": "2026-04-27T12:56:37.191Z",
  "id": "hauIuGCfrHYPbHcg",
  "name": "🤖 AI Influencer Factory v3 — Auto-Publisher",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "c5ae322b-cb69-470e-a647-3096c3082768",
      "name": "🗓️ Trigger: Schedule",
      "position": [
        -2128,
        544
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { spreadsheetId: \"1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg\", calendarSheetName: \"Calendar\", igUserId: \"27135504529380775\", safeMode: false, logDrainUrl: \"https://n8n.pureremedysolutions.com/webhook/log-drain\" } }];"
      },
      "id": "1d4954f1-62c6-49c4-8378-6b0b0f443060",
      "name": "⚙️ Global Config",
      "position": [
        -1904,
        352
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Calendar"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Posted",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "id": "8f6c8cf4-d0b9-43dd-acdd-4998f40aa05b",
      "name": "💾 Memory: Read Calendar",
      "position": [
        -1456,
        448
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hiWj9Xv9QRzG92uS",
          "name": "AI Lead Gen Machine Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json['Image Status'] }}",
              "operator": {
                "operation": "startsWith",
                "type": "string"
              },
              "rightValue": "http"
            }
          ]
        },
        "options": {}
      },
      "id": "6e0c56c8-ab14-4abe-8dc0-5869ac3e0b17",
      "name": "🛡️ IF: Has Image?",
      "position": [
        -1232,
        448
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const ideogramUrl = (item.json['Image Status'] || '').trim();\n  let resolvedUrl = null;\n  let resolveMethod = 'failed';\n\n  // SKIP if already clearly invalid\n  if (ideogramUrl === 'Not Generated' || ideogramUrl === '') {\n    continue;\n  }\n\n  // Helper: verify a URL actually serves an image\n  async function verifyImageUrl(url) {\n    try {\n      const r = await fetch(url, { method: 'HEAD', redirect: 'follow' });\n      const ct = r.headers.get('content-type') || '';\n      return r.ok && ct.startsWith('image/');\n    } catch(e) { return false; }\n  }\n\n  // Strategy 1: Try multiple Ideogram CDN path patterns and VERIFY each\n  const galleryMatch = ideogramUrl.match(/ideogram\\.ai\\/g\\/([A-Za-z0-9_-]+)\\\\/(\\\\d+)/);\n  if (galleryMatch) {\n    const [, hash, idx] = galleryMatch;\n    const candidates = [\n      `https://ideogram.ai/assets/progressive-image/balanced/response/${hash}/${idx}`,\n      `https://ideogram.ai/assets/image/lossless/response/${hash}/${idx}`,\n      `https://ideogram.ai/assets/image/balanced/response/${hash}/${idx}`,\n    ];\n    for (const candidate of candidates) {\n      if (await verifyImageUrl(candidate)) {\n        resolvedUrl = candidate;\n        resolveMethod = 'cdn-construct-verified';\n        break;\n      }\n    }\n  }\n\n  // Strategy 2: og:image scraping\n  if (!resolvedUrl && ideogramUrl.toLowerCase().startsWith('http')) {\n    try {\n      const response = await fetch(ideogramUrl, {\n        headers: {\n          'User-Agent': 'facebookexternalhit/1.1 (+http://www.facebook.com/externalhit_uatext.php)',\n          'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8'\n        },\n        redirect: 'follow'\n      });\n      const html = await response.text();\n      const match =\n        html.match(/property=[\\\"']og:image[\\\"'][^>]*content=[\\\"']([^\\\"']+)[\\\"']/i) ||\n        html.match(/content=[\\\"']([^\\\"']+)[\\\"'][^>]*property=[\\\"']og:image[\\\"']/i) ||\n        html.match(/\\\"url\\\":\\\"(https:\\\\/\\\\/[^\\\"]+\\\\.(?:jpg|jpeg|png|webp)[^\\\"]*)\\\"/i);\n      if (match && match[1] && match[1] !== ideogramUrl) {\n        resolvedUrl = match[1];\n        resolveMethod = 'og-image-scrape';\n      }\n    } catch (e) {}\n  }\n\n  // Strategy 3: Absolute fallback (only if valid URL)\n  if (!resolvedUrl && ideogramUrl.toLowerCase().startsWith('http')) {\n    resolvedUrl = ideogramUrl;\n    resolveMethod = 'fallback-original';\n  }\n\n  // Only proceed if we have a valid resolved image URL starting with http\n  if (resolvedUrl && resolvedUrl.toLowerCase().startsWith('http')) {\n    const caption = item.json['Caption'] || '';\n    const hashtags = item.json['Hashtags'] || '';\n    const fullCaption = hashtags.trim() ? `${caption}\\n\\n${hashtags}` : caption;\n\n    results.push({\n      json: {\n        ...item.json,\n        resolvedImageUrl: resolvedUrl,\n        fullCaption,\n        _resolveMethod: resolveMethod\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "🔧 Resolve Image URLs",
      "position": [
        -1008,
        448
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5007/publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.resolvedImageUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.fullCaption }}"
            },
            {
              "name": "ig_user_id",
              "value": "={{ $('⚙️ Global Config').first().json.igUserId }}"
            },
            {
              "name": "resolve_method",
              "value": "={{ $json._resolveMethod }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "e358cf43-3cec-4cfc-815b-76bd5698dba3",
      "name": "🚀 Instagram: Publish via Bridge",
      "position": [
        -784,
        448
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Calendar"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "Posted",
              "id": "Posted",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "row_number",
              "id": "row_number",
              "readOnly": true,
              "removed": true,
              "required": false,
              "type": "number"
            }
          ],
          "value": {
            "Posted": "Yes",
            "row_number": "={{ $('🔧 Resolve Image URLs').item.json.row_number }}"
          }
        },
        "options": {}
      },
      "id": "4ab13e77-f7b3-4674-8218-cc43acb1a016",
      "name": "💾 Memory: Mark Posted",
      "position": [
        -560,
        352
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hiWj9Xv9QRzG92uS",
          "name": "AI Lead Gen Machine Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"⚙️ Global Config\").first().json.logDrainUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "Auto-Publisher"
            },
            {
              "name": "message",
              "value": "Done"
            }
          ]
        },
        "options": {}
      },
      "id": "1858e7d1-fabc-41f4-9464-7e7ee3c2cb53",
      "name": "📝 Log: Success",
      "position": [
        -336,
        352
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"⚙️ Global Config\").first().json.logDrainUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "Auto-Publisher"
            },
            {
              "name": "status",
              "value": "ERROR"
            },
            {
              "name": "message",
              "value": "Instagram publish failed"
            },
            {
              "name": "image_url",
              "value": "={{ $json.resolvedImageUrl }}"
            },
            {
              "name": "resolve_method",
              "value": "={{ $json._resolveMethod }}"
            },
            {
              "name": "caption_preview",
              "value": "={{ ($json.fullCaption || '').slice(0, 120) }}"
            },
            {
              "name": "error",
              "value": "={{ $json.error?.message || 'Bridge returned non-200' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "err-handler-001",
      "name": "📛 Log: Publish Failed",
      "position": [
        -560,
        544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "parameters": {},
      "id": "c4fcf6ef-4cd7-43ac-8b48-7bae9c219056",
      "name": "Manual Force Publish",
      "position": [
        -2128,
        352
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "trigger-999",
        "options": {}
      },
      "id": "9fd59b86-c897-4a1a-8234-82858755fe1a",
      "name": "Trigger Hook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2128,
        160
      ],
      "webhookId": "fb6994c4-0eb5-4886-8f76-05f0b33ee644"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.safeMode }}",
              "operator": {
                "operation": "equals",
                "type": "boolean"
              },
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "safe-mode-if-pub-001",
      "name": "🛡️ IF: Safe Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1680,
        352
      ]
    },
    {
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "Auto-Publisher"
            },
            {
              "name": "level",
              "value": "warn"
            },
            {
              "name": "message",
              "value": "Safe Mode Active: Skipping Publishing."
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "={{ $(\"⚙️ Global Config\").first().json.logDrainUrl }}"
      },
      "id": "safe-mode-log-pub-001",
      "name": "📝 Log: Safe Mode (Skip)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1456,
        256
      ]
    }
  ],
  "connections": {
    "Manual Force Publish": {
      "main": [
        [
          {
            "index": 0,
            "node": "⚙️ Global Config",
            "type": "main"
          }
        ]
      ]
    },
    "🗓️ Trigger: Schedule": {
      "main": [
        [
          {
            "index": 0,
            "node": "⚙️ Global Config",
            "type": "main"
          }
        ]
      ]
    },
    "💾 Memory: Mark Posted": {
      "main": [
        [
          {
            "index": 0,
            "node": "📝 Log: Success",
            "type": "main"
          }
        ]
      ]
    },
    "💾 Memory: Read Calendar": {
      "main": [
        [
          {
            "index": 0,
            "node": "🛡️ IF: Has Image?",
            "type": "main"
          }
        ]
      ]
    },
    "🔧 Resolve Image URLs": {
      "main": [
        [
          {
            "index": 0,
            "node": "🚀 Instagram: Publish via Bridge",
            "type": "main"
          }
        ]
      ]
    },
    "🚀 Instagram: Publish via Bridge": {
      "main": [
        [
          {
            "index": 0,
            "node": "💾 Memory: Mark Posted",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "📛 Log: Publish Failed",
            "type": "main"
          }
        ]
      ]
    },
    "🛡️ IF: Has Image?": {
      "main": [
        [
          {
            "index": 0,
            "node": "🔧 Resolve Image URLs",
            "type": "main"
          }
        ]
      ]
    },
    "Trigger Hook": {
      "main": [
        [
          {
            "node": "⚙️ Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Global Config": {
      "main": [
        [
          {
            "node": "🛡️ IF: Safe Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ IF: Safe Mode?": {
      "main": [
        [
          {
            "node": "📝 Log: Safe Mode (Skip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💾 Memory: Read Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:🗓️ Trigger: Schedule": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "🗓️ Trigger: Schedule": [
      {
        "json": {
          "timestamp": "2026-04-28T09:00:12.004+05:30",
          "Readable date": "April 28th 2026, 9:00:12 am",
          "Readable time": "9:00:12 am",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "28",
          "Hour": "09",
          "Minute": "00",
          "Second": "12",
          "Timezone": "Asia/Kolkata (UTC+05:30)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "4f7cd0ed-9464-4747-a072-f47e1d81c308",
  "activeVersionId": "4f7cd0ed-9464-4747-a072-f47e1d81c308",
  "versionCounter": 167,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-04-27T12:56:37.199Z",
      "createdAt": "2026-04-27T12:56:37.199Z",
      "role": "workflow:owner",
      "workflowId": "hauIuGCfrHYPbHcg",
      "projectId": "4z38v6JO6ntgY8gF",
      "project": {
        "updatedAt": "2026-01-13T19:13:51.671Z",
        "createdAt": "2026-01-13T19:11:25.659Z",
        "id": "4z38v6JO6ntgY8gF",
        "name": "PANDIAN K S <kspandia@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "75bbfac3-5195-4843-9435-78dfd0d8f34f"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-28T07:39:41.438Z",
    "createdAt": "2026-04-28T07:39:41.438Z",
    "versionId": "4f7cd0ed-9464-4747-a072-f47e1d81c308",
    "workflowId": "hauIuGCfrHYPbHcg",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        },
        "id": "c5ae322b-cb69-470e-a647-3096c3082768",
        "name": "🗓️ Trigger: Schedule",
        "position": [
          -2128,
          544
        ],
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { spreadsheetId: \"1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg\", calendarSheetName: \"Calendar\", igUserId: \"27135504529380775\", safeMode: false, logDrainUrl: \"https://n8n.pureremedysolutions.com/webhook/log-drain\" } }];"
        },
        "id": "1d4954f1-62c6-49c4-8378-6b0b0f443060",
        "name": "⚙️ Global Config",
        "position": [
          -1904,
          352
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "Calendar"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Posted",
                "lookupValue": "No"
              }
            ]
          },
          "options": {}
        },
        "id": "8f6c8cf4-d0b9-43dd-acdd-4998f40aa05b",
        "name": "💾 Memory: Read Calendar",
        "position": [
          -1456,
          448
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hiWj9Xv9QRzG92uS",
            "name": "AI Lead Gen Machine Google Sheets"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{ $json['Image Status'] }}",
                "operator": {
                  "operation": "startsWith",
                  "type": "string"
                },
                "rightValue": "http"
              }
            ]
          },
          "options": {}
        },
        "id": "6e0c56c8-ab14-4abe-8dc0-5869ac3e0b17",
        "name": "🛡️ IF: Has Image?",
        "position": [
          -1232,
          448
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const ideogramUrl = (item.json['Image Status'] || '').trim();\n  let resolvedUrl = null;\n  let resolveMethod = 'failed';\n\n  // SKIP if already clearly invalid\n  if (ideogramUrl === 'Not Generated' || ideogramUrl === '') {\n    continue;\n  }\n\n  // Helper: verify a URL actually serves an image\n  async function verifyImageUrl(url) {\n    try {\n      const r = await fetch(url, { method: 'HEAD', redirect: 'follow' });\n      const ct = r.headers.get('content-type') || '';\n      return r.ok && ct.startsWith('image/');\n    } catch(e) { return false; }\n  }\n\n  // Strategy 1: Try multiple Ideogram CDN path patterns and VERIFY each\n  const galleryMatch = ideogramUrl.match(/ideogram\\.ai\\/g\\/([A-Za-z0-9_-]+)\\\\/(\\\\d+)/);\n  if (galleryMatch) {\n    const [, hash, idx] = galleryMatch;\n    const candidates = [\n      `https://ideogram.ai/assets/progressive-image/balanced/response/${hash}/${idx}`,\n      `https://ideogram.ai/assets/image/lossless/response/${hash}/${idx}`,\n      `https://ideogram.ai/assets/image/balanced/response/${hash}/${idx}`,\n    ];\n    for (const candidate of candidates) {\n      if (await verifyImageUrl(candidate)) {\n        resolvedUrl = candidate;\n        resolveMethod = 'cdn-construct-verified';\n        break;\n      }\n    }\n  }\n\n  // Strategy 2: og:image scraping\n  if (!resolvedUrl && ideogramUrl.toLowerCase().startsWith('http')) {\n    try {\n      const response = await fetch(ideogramUrl, {\n        headers: {\n          'User-Agent': 'facebookexternalhit/1.1 (+http://www.facebook.com/externalhit_uatext.php)',\n          'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8'\n        },\n        redirect: 'follow'\n      });\n      const html = await response.text();\n      const match =\n        html.match(/property=[\\\"']og:image[\\\"'][^>]*content=[\\\"']([^\\\"']+)[\\\"']/i) ||\n        html.match(/content=[\\\"']([^\\\"']+)[\\\"'][^>]*property=[\\\"']og:image[\\\"']/i) ||\n        html.match(/\\\"url\\\":\\\"(https:\\\\/\\\\/[^\\\"]+\\\\.(?:jpg|jpeg|png|webp)[^\\\"]*)\\\"/i);\n      if (match && match[1] && match[1] !== ideogramUrl) {\n        resolvedUrl = match[1];\n        resolveMethod = 'og-image-scrape';\n      }\n    } catch (e) {}\n  }\n\n  // Strategy 3: Absolute fallback (only if valid URL)\n  if (!resolvedUrl && ideogramUrl.toLowerCase().startsWith('http')) {\n    resolvedUrl = ideogramUrl;\n    resolveMethod = 'fallback-original';\n  }\n\n  // Only proceed if we have a valid resolved image URL starting with http\n  if (resolvedUrl && resolvedUrl.toLowerCase().startsWith('http')) {\n    const caption = item.json['Caption'] || '';\n    const hashtags = item.json['Hashtags'] || '';\n    const fullCaption = hashtags.trim() ? `${caption}\\n\\n${hashtags}` : caption;\n\n    results.push({\n      json: {\n        ...item.json,\n        resolvedImageUrl: resolvedUrl,\n        fullCaption,\n        _resolveMethod: resolveMethod\n      }\n    });\n  }\n}\n\nreturn results;"
        },
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "name": "🔧 Resolve Image URLs",
        "position": [
          -1008,
          448
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:5007/publish",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "image_url",
                "value": "={{ $json.resolvedImageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.fullCaption }}"
              },
              {
                "name": "ig_user_id",
                "value": "={{ $('⚙️ Global Config').first().json.igUserId }}"
              },
              {
                "name": "resolve_method",
                "value": "={{ $json._resolveMethod }}"
              }
            ]
          },
          "options": {
            "timeout": 120000
          }
        },
        "id": "e358cf43-3cec-4cfc-815b-76bd5698dba3",
        "name": "🚀 Instagram: Publish via Bridge",
        "position": [
          -784,
          448
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "Calendar"
          },
          "columns": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "Posted",
                "id": "Posted",
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "row_number",
                "id": "row_number",
                "readOnly": true,
                "removed": true,
                "required": false,
                "type": "number"
              }
            ],
            "value": {
              "Posted": "Yes",
              "row_number": "={{ $('🔧 Resolve Image URLs').item.json.row_number }}"
            }
          },
          "options": {}
        },
        "id": "4ab13e77-f7b3-4674-8218-cc43acb1a016",
        "name": "💾 Memory: Mark Posted",
        "position": [
          -560,
          352
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "hiWj9Xv9QRzG92uS",
            "name": "AI Lead Gen Machine Google Sheets"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"⚙️ Global Config\").first().json.logDrainUrl }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "workflow_name",
                "value": "Auto-Publisher"
              },
              {
                "name": "message",
                "value": "Done"
              }
            ]
          },
          "options": {}
        },
        "id": "1858e7d1-fabc-41f4-9464-7e7ee3c2cb53",
        "name": "📝 Log: Success",
        "position": [
          -336,
          352
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $(\"⚙️ Global Config\").first().json.logDrainUrl }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "workflow_name",
                "value": "Auto-Publisher"
              },
              {
                "name": "status",
                "value": "ERROR"
              },
              {
                "name": "message",
                "value": "Instagram publish failed"
              },
              {
                "name": "image_url",
                "value": "={{ $json.resolvedImageUrl }}"
              },
              {
                "name": "resolve_method",
                "value": "={{ $json._resolveMethod }}"
              },
              {
                "name": "caption_preview",
                "value": "={{ ($json.fullCaption || '').slice(0, 120) }}"
              },
              {
                "name": "error",
                "value": "={{ $json.error?.message || 'Bridge returned non-200' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "err-handler-001",
        "name": "📛 Log: Publish Failed",
        "position": [
          -560,
          544
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4
      },
      {
        "parameters": {},
        "id": "c4fcf6ef-4cd7-43ac-8b48-7bae9c219056",
        "name": "Manual Force Publish",
        "position": [
          -2128,
          352
        ],
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1
      },
      {
        "parameters": {
          "path": "trigger-999",
          "options": {}
        },
        "id": "9fd59b86-c897-4a1a-8234-82858755fe1a",
        "name": "Trigger Hook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          -2128,
          160
        ],
        "webhookId": "fb6994c4-0eb5-4886-8f76-05f0b33ee644"
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{ $json.safeMode }}",
                "operator": {
                  "operation": "equals",
                  "type": "boolean"
                },
                "rightValue": true
              }
            ]
          },
          "options": {}
        },
        "id": "safe-mode-if-pub-001",
        "name": "🛡️ IF: Safe Mode?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1680,
          352
        ]
      },
      {
        "parameters": {
          "bodyParameters": {
            "parameters": [
              {
                "name": "workflow_name",
                "value": "Auto-Publisher"
              },
              {
                "name": "level",
                "value": "warn"
              },
              {
                "name": "message",
                "value": "Safe Mode Active: Skipping Publishing."
              }
            ]
          },
          "method": "POST",
          "options": {},
          "sendBody": true,
          "url": "={{ $(\"⚙️ Global Config\").first().json.logDrainUrl }}"
        },
        "id": "safe-mode-log-pub-001",
        "name": "📝 Log: Safe Mode (Skip)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1456,
          256
        ]
      }
    ],
    "connections": {
      "Manual Force Publish": {
        "main": [
          [
            {
              "index": 0,
              "node": "⚙️ Global Config",
              "type": "main"
            }
          ]
        ]
      },
      "🗓️ Trigger: Schedule": {
        "main": [
          [
            {
              "index": 0,
              "node": "⚙️ Global Config",
              "type": "main"
            }
          ]
        ]
      },
      "💾 Memory: Mark Posted": {
        "main": [
          [
            {
              "index": 0,
              "node": "📝 Log: Success",
              "type": "main"
            }
          ]
        ]
      },
      "💾 Memory: Read Calendar": {
        "main": [
          [
            {
              "index": 0,
              "node": "🛡️ IF: Has Image?",
              "type": "main"
            }
          ]
        ]
      },
      "🔧 Resolve Image URLs": {
        "main": [
          [
            {
              "index": 0,
              "node": "🚀 Instagram: Publish via Bridge",
              "type": "main"
            }
          ]
        ]
      },
      "🚀 Instagram: Publish via Bridge": {
        "main": [
          [
            {
              "index": 0,
              "node": "💾 Memory: Mark Posted",
              "type": "main"
            }
          ],
          [
            {
              "index": 0,
              "node": "📛 Log: Publish Failed",
              "type": "main"
            }
          ]
        ]
      },
      "🛡️ IF: Has Image?": {
        "main": [
          [
            {
              "index": 0,
              "node": "🔧 Resolve Image URLs",
              "type": "main"
            }
          ]
        ]
      },
      "Trigger Hook": {
        "main": [
          [
            {
              "node": "⚙️ Global Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⚙️ Global Config": {
        "main": [
          [
            {
              "node": "🛡️ IF: Safe Mode?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🛡️ IF: Safe Mode?": {
        "main": [
          [
            {
              "node": "📝 Log: Safe Mode (Skip)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "💾 Memory: Read Calendar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "PANDIAN K S",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-28T07:39:41.534Z",
        "id": 1710,
        "workflowId": "hauIuGCfrHYPbHcg",
        "versionId": "4f7cd0ed-9464-4747-a072-f47e1d81c308",
        "event": "activated",
        "userId": "75bbfac3-5195-4843-9435-78dfd0d8f34f"
      },
      {
        "createdAt": "2026-04-28T07:39:41.497Z",
        "id": 1709,
        "workflowId": "hauIuGCfrHYPbHcg",
        "versionId": "4f7cd0ed-9464-4747-a072-f47e1d81c308",
        "event": "deactivated",
        "userId": "75bbfac3-5195-4843-9435-78dfd0d8f34f"
      }
    ]
  }
}