layer-3-memory/log-drain-production.json
{
  "updatedAt": "2026-04-28T07:44:49.417Z",
  "createdAt": "2026-04-25T19:14:19.192Z",
  "id": "FEK7PNwR6I3XZygD",
  "name": "Log-Drain — Centralized Sub-workflow",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "log-drain",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "54b4aff7-ebfe-462b-8f98-10dfb2ff05e6",
      "onError": "continueRegularOutput"
    },
    {
      "id": "node-normalize",
      "name": "Normalize Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.body ?? $input.first().json;\n\n// 1. Level Detection\nlet level = raw.level;\nif (!level) {\n  if (raw.status === 'ERROR' || raw.error) level = 'error';\n  else if (raw.message === 'Done' || raw.status === 'SUCCESS' || raw.status === 'success') level = 'success';\n  else level = 'info';\n}\n\n// 2. Formatting\nconst validLevels = ['debug', 'info', 'warn', 'error', 'success'];\nconst finalLevel = validLevels.includes(level) ? level : 'info';\n\nconst entry = {\n  workflow_name: String(raw.workflow_name ?? 'unknown').slice(0, 100),\n  tool_name:     raw.tool_name ? String(raw.tool_name).slice(0, 100) : null,\n  level:         finalLevel,\n  message:       String(raw.message ?? '').slice(0, 2000),\n  metadata:      (raw.metadata && typeof raw.metadata === 'object') ? raw.metadata : { ...raw },\n  session_id:    raw.session_id ? String(raw.session_id).slice(0, 100) : null,\n  created_at:    raw.ts ?? new Date().toISOString(),\n};\n\nreturn [{ json: entry }];"
      }
    },
    {
      "id": "node-if",
      "name": "Is Error Level",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.level }}",
              "operator": {
                "operation": "notEquals",
                "type": "string"
              },
              "rightValue": "debug",
              "id": "condition-1777360836465-9b4kubpyi"
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "none"
          }
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "node-telegram",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 4.4,
      "position": [
        960,
        160
      ],
      "parameters": {
        "text": "={{ $json.level === 'error' ? '🚨 *ERROR*' : ($json.level === 'warn' ? '⚠️ *WARNING*' : '✅ *SUCCESS*') }} in `{{ $json.workflow_name }}`\n*Tool:* `{{ $json.tool_name ?? 'n/a' }}`\n*Message:* {{ $json.message }}\n*Time:* {{ $json.created_at }}\n*Session:* `{{ $json.session_id ?? 'n/a' }}`"
      },
      "maxTries": 3,
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "telegramApi": {
          "id": "lMh5dlTVHK0LmmG6",
          "name": "Telegram Account Memory Vault"
        }
      },
      "webhookId": "1b0e19a6-8709-48d2-b388-e8077fb1a4c0"
    },
    {
      "id": "node-merge",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "node-supabase",
      "name": "Supabase Insert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/execution_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "values": [
            {
              "name": "workflow_name",
              "value": "={{ $json.workflow_name }}"
            },
            {
              "name": "tool_name",
              "value": "={{ $json.tool_name }}"
            },
            {
              "name": "level",
              "value": "={{ $json.level }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify($json.metadata) }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.session_id }}"
            },
            {
              "name": "created_at",
              "value": "={{ $json.created_at }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "maxTries": 3,
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "id": "node-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1680,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Entry": {
      "main": [
        [
          {
            "node": "Is Error Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Error Level": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Insert": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "40671aab-6acc-4833-8344-f2c71b568608",
  "activeVersionId": "40671aab-6acc-4833-8344-f2c71b568608",
  "versionCounter": 24,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-25T19:14:19.231Z",
      "createdAt": "2026-04-25T19:14:19.231Z",
      "role": "workflow:owner",
      "workflowId": "FEK7PNwR6I3XZygD",
      "projectId": "4z38v6JO6ntgY8gF",
      "project": {
        "updatedAt": "2026-01-13T19:13:51.671Z",
        "createdAt": "2026-01-13T19:11:25.659Z",
        "id": "4z38v6JO6ntgY8gF",
        "name": "PANDIAN K S <kspandia@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "75bbfac3-5195-4843-9435-78dfd0d8f34f"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-28T07:44:49.418Z",
    "createdAt": "2026-04-28T07:44:49.418Z",
    "versionId": "40671aab-6acc-4833-8344-f2c71b568608",
    "workflowId": "FEK7PNwR6I3XZygD",
    "nodes": [
      {
        "id": "node-webhook",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "path": "log-drain",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "54b4aff7-ebfe-462b-8f98-10dfb2ff05e6",
        "onError": "continueRegularOutput"
      },
      {
        "id": "node-normalize",
        "name": "Normalize Entry",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          300
        ],
        "parameters": {
          "jsCode": "const raw = $input.first().json.body ?? $input.first().json;\n\n// 1. Level Detection\nlet level = raw.level;\nif (!level) {\n  if (raw.status === 'ERROR' || raw.error) level = 'error';\n  else if (raw.message === 'Done' || raw.status === 'SUCCESS' || raw.status === 'success') level = 'success';\n  else level = 'info';\n}\n\n// 2. Formatting\nconst validLevels = ['debug', 'info', 'warn', 'error', 'success'];\nconst finalLevel = validLevels.includes(level) ? level : 'info';\n\nconst entry = {\n  workflow_name: String(raw.workflow_name ?? 'unknown').slice(0, 100),\n  tool_name:     raw.tool_name ? String(raw.tool_name).slice(0, 100) : null,\n  level:         finalLevel,\n  message:       String(raw.message ?? '').slice(0, 2000),\n  metadata:      (raw.metadata && typeof raw.metadata === 'object') ? raw.metadata : { ...raw },\n  session_id:    raw.session_id ? String(raw.session_id).slice(0, 100) : null,\n  created_at:    raw.ts ?? new Date().toISOString(),\n};\n\nreturn [{ json: entry }];"
        }
      },
      {
        "id": "node-if",
        "name": "Is Error Level",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          720,
          300
        ],
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{ $json.level }}",
                "operator": {
                  "operation": "notEquals",
                  "type": "string"
                },
                "rightValue": "debug",
                "id": "condition-1777360836465-9b4kubpyi"
              }
            ],
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": false,
              "typeValidation": "none"
            }
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "id": "node-telegram",
        "name": "Telegram Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 4.4,
        "position": [
          960,
          160
        ],
        "parameters": {
          "text": "={{ $json.level === 'error' ? '🚨 *ERROR*' : ($json.level === 'warn' ? '⚠️ *WARNING*' : '✅ *SUCCESS*') }} in `{{ $json.workflow_name }}`\n*Tool:* `{{ $json.tool_name ?? 'n/a' }}`\n*Message:* {{ $json.message }}\n*Time:* {{ $json.created_at }}\n*Session:* `{{ $json.session_id ?? 'n/a' }}`"
        },
        "maxTries": 3,
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "credentials": {
          "telegramApi": {
            "id": "lMh5dlTVHK0LmmG6",
            "name": "Telegram Account Memory Vault"
          }
        },
        "webhookId": "1b0e19a6-8709-48d2-b388-e8077fb1a4c0"
      },
      {
        "id": "node-merge",
        "name": "Merge Branches",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "mode": "append"
        }
      },
      {
        "id": "node-supabase",
        "name": "Supabase Insert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1440,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "={{$env.SUPABASE_URL}}/rest/v1/execution_logs",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "body": {
            "values": [
              {
                "name": "workflow_name",
                "value": "={{ $json.workflow_name }}"
              },
              {
                "name": "tool_name",
                "value": "={{ $json.tool_name }}"
              },
              {
                "name": "level",
                "value": "={{ $json.level }}"
              },
              {
                "name": "message",
                "value": "={{ $json.message }}"
              },
              {
                "name": "metadata",
                "value": "={{ JSON.stringify($json.metadata) }}"
              },
              {
                "name": "session_id",
                "value": "={{ $json.session_id }}"
              },
              {
                "name": "created_at",
                "value": "={{ $json.created_at }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "maxTries": 3,
        "onError": "continueRegularOutput",
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "id": "node-respond",
        "name": "Respond OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1680,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"ok\": true }"
        }
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Normalize Entry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Entry": {
        "main": [
          [
            {
              "node": "Is Error Level",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Error Level": {
        "main": [
          [
            {
              "node": "Telegram Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Branches",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Telegram Alert": {
        "main": [
          [
            {
              "node": "Merge Branches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Branches": {
        "main": [
          [
            {
              "node": "Supabase Insert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Insert": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "PANDIAN K S",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": []
  }
}