Invoice-Vision-Auditor/API.json
{"updatedAt":"2026-04-01T17:43:27.938Z","createdAt":"2026-03-22T20:00:14.591Z","id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"🔗 Invoice Vision Auditor — On-Demand API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"invoice-audit","responseMode":"responseNode","options":{}},"id":"2c021af9-35a4-4907-8111-61c38efe6f59","name":"Invoice Audit Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-704,1568],"webhookId":"71e615d3-25c6-43cb-87a1-17e3aaa06253","onError":"continueRegularOutput"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.body.file_id }}","mode":"id"},"options":{}},"id":"7f7c11e8-af57-4484-bfeb-a63b902d63d5","name":"Download Invoice PDF","type":"n8n-nodes-base.googleDrive","typeVersion":2,"position":[-432,1568],"credentials":{"googleDriveOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Drive Account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"binaryToPropery","destinationKey":"base64data","options":{}},"id":"a4f2164a-c473-4551-90cb-f9f19d44121d","name":"PDF to Base64","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-304,1568]},{"parameters":{"jsCode":"const base64Data   = $input.first().json.base64data;\nconst body = $(\u0027Invoice Audit Webhook\u0027).first().json.body || {};\nconst fileName = body.file_name || \u0027invoice.pdf\u0027;\nconst fileId = body.file_id || \u0027\u0027;\nconst prompt = \u0027You are an invoice auditor. Analyze this invoice PDF.\\nReturn ONLY a raw JSON object with no markdown and no code fences.\\nFields: vendor_name (string or null), invoice_number (string or null), invoice_date (YYYY-MM-DD or null), due_date (YYYY-MM-DD or null), line_items_count (integer or null), total_amount (number or null), currency (3-letter ISO code or null), has_signature (boolean), signature_valid (boolean - true ONLY for handwritten ink or rubber stamp not printed names), confidence_score (float 0.0 to 1.0), errors (array - include: No signature found, Total amount missing, Not a valid invoice, Invoice number missing - whichever apply), warnings (array - include: Due date has passed, Currency unclear - whichever apply). Return ONLY the JSON.\u0027;\nconst payload = { contents: [{ parts: [{ inline_data: { mime_type: \u0027application/pdf\u0027, data: base64Data } }, { text: prompt }] }], generationConfig: { temperature: 0.0, maxOutputTokens: 2048 } };\nreturn [{ json: { payload, file_name: fileName, file_id: fileId } }];"},"id":"56c75daa-1e0c-428d-8b8b-84acd9ac0c83","name":"Build Gemini Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,1568]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{"timeout":90000}},"id":"df29e82f-ca40-4f9f-b366-41c66ac5c190","name":"Analyze with Gemini","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,1568],"retryOnFail":true,"maxTries":3,"waitBetweenTries":12000,"credentials":{"httpQueryAuth":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Query Auth Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const geminiOutput=$input.first().json;\nconst fileMeta=$(\u0027Build Gemini Payload\u0027).first().json;\nlet parsed;\ntry{\n  const raw=geminiOutput.candidates[0].content.parts[0].text;\n  const start=raw.indexOf(\u0027{\u0027);const end=raw.lastIndexOf(\u0027}\u0027);\n  if(start===-1||end===-1)throw new Error(\u0027No JSON in response\u0027);\n  parsed=JSON.parse(raw.slice(start,end+1));\n}catch(e){\n  parsed={vendor_name:null,invoice_number:null,invoice_date:null,due_date:null,line_items_count:null,total_amount:null,currency:null,has_signature:false,signature_valid:false,confidence_score:0,errors:[\u0027AI parse failure: \u0027+e.message],warnings:[]};\n}\nreturn [{json:{file_name:String(fileMeta.file_name||\u0027\u0027),file_id:String(fileMeta.file_id||\u0027\u0027),vendor_name:parsed.vendor_name||null,invoice_number:String(parsed.invoice_number||\u0027\u0027),invoice_date:parsed.invoice_date||null,due_date:parsed.due_date||null,line_items_count:parsed.line_items_count||null,total_amount:(parsed.total_amount!==undefined\u0026\u0026parsed.total_amount!==null)?Number(parsed.total_amount):null,currency:parsed.currency||null,has_signature:Boolean(parsed.has_signature),signature_valid:Boolean(parsed.signature_valid),confidence_score:Math.min(1,Math.max(0,Number(parsed.confidence_score)||0)),errors:Array.isArray(parsed.errors)?parsed.errors:[],warnings:Array.isArray(parsed.warnings)?parsed.warnings:[],processed_at:new Date().toISOString(),source:\u0027webhook\u0027}}];"},"id":"8419c539-2e54-4d7f-8a27-340e771e3bc1","name":"Parse Analysis Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[336,1568]},{"parameters":{"sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Verified!A:Z","options":{}},"id":"be12afe5-fff9-452a-ad68-e9951304153a","name":"Read Verified Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[608,1568],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Flagged Invoices!A:Z","options":{}},"id":"4fd5babd-6891-4127-9f96-7d7440bffac6","name":"Read Flagged Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[736,1568],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Get rows from BOTH sheets for duplicate scanning\nconst verifiedRows = $(\u0027Read Verified Sheet\u0027).all().map(i =\u003e i.json).filter(r =\u003e r.invoice_number);\nconst flaggedRows = $input.all().map(i =\u003e i.json).filter(r =\u003e r.invoice_number);\nconst allRows = [...verifiedRows, ...flaggedRows];\n\n// Current invoice being processed\nconst auditData = $(\u0027Parse Analysis Result\u0027).first().json;\nconst invNum = String(auditData.invoice_number || \u0027\u0027).toLowerCase().trim();\nconst vendor = String(auditData.vendor_name || \u0027\u0027).toLowerCase().trim();\n\nlet is_duplicate = false;\nlet duplicate_ref = null;\n\nif (invNum.length \u003e 2 \u0026\u0026 vendor.length \u003e 2) {\n  const match = allRows.find(r =\u003e\n    String(r.invoice_number || \u0027\u0027).toLowerCase().trim() === invNum \u0026\u0026\n    String(r.vendor_name || \u0027\u0027).toLowerCase().trim() === vendor\n  );\n  if (match) {\n    is_duplicate = true;\n    duplicate_ref = match.file_name || \u0027previous submission\u0027;\n  }\n}\n\nconst errors = [...(auditData.errors || [])];\nif (is_duplicate) errors.push(\u0027Possible duplicate of: \u0027 + duplicate_ref);\n\nreturn [{ json: { ...auditData, is_duplicate, duplicate_ref: duplicate_ref || null, errors } }];"},"id":"5ac5a371-de2a-411c-8214-5cadf9fc6187","name":"Check for Duplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,1568]},{"parameters":{"jsCode":"const d = $input.first().json;\nlet status = \u0027verified\u0027;\nif (d.errors.length \u003e 0) status = \u0027flagged\u0027;\nelse if (d.confidence_score \u003c 0.75) status = \u0027needs_review\u0027;\nreturn [{ json: {\n  ...d,\n  audit_status: status,\n  _response: {\n    status,\n    file_name:        d.file_name,\n    vendor_name:      d.vendor_name,\n    invoice_number:   d.invoice_number,\n    invoice_date:     d.invoice_date,\n    due_date:         d.due_date,\n    total_amount:     d.total_amount,\n    currency:         d.currency,\n    has_signature:    d.has_signature,\n    signature_valid:  d.signature_valid,\n    confidence_score: d.confidence_score,\n    is_duplicate:     d.is_duplicate,\n    errors:           d.errors,\n    warnings:         d.warnings,\n    processed_at:     d.processed_at\n  }\n} }];"},"id":"5a7bdb5e-116a-4d8b-8751-6a1fd65a8903","name":"Determine Audit Status","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,1568]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json._response) }}","options":{"responseCode":200}},"id":"543a83e0-4fdd-4c44-b0f7-9e108e0059c6","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1376,1568]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"route-v","leftValue":"={{ $json.audit_status }}","rightValue":"verified","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"65e9b47c-6a9e-484a-8d60-5132b05fd415","name":"Is Verified?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1648,1568]},{"parameters":{"operation":"append","sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Verified!A:P","options":{}},"id":"7c156378-4434-4c02-bb72-3e3a411a7571","name":"Log to Verified Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[1904,1472],"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PATCH","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.file_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"addParents","value":"REPLACE_WITH_DRIVE_FOLDER_ID"},{"name":"removeParents","value":"REPLACE_WITH_DRIVE_FOLDER_ID"},{"name":"fields","value":"id,name,parents"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{}},"id":"4ec783fb-f4a7-4efa-814a-898403e2b731","name":"Move to Verified Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2128,1472],"credentials":{"googleDriveOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Drive Account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"route-f","leftValue":"={{ $json.audit_status }}","rightValue":"flagged","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"041156bc-668f-4ee0-8e4b-2148ed2f9a2e","name":"Is Flagged?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1904,1680]},{"parameters":{"operation":"append","sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Flagged Invoices!A:P","options":{}},"id":"9ebe0ef5-d310-4048-9f55-9112a010b42d","name":"Log to Flagged Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[2160,1568],"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PATCH","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.file_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"addParents","value":"REPLACE_WITH_DRIVE_FOLDER_ID"},{"name":"removeParents","value":"REPLACE_WITH_DRIVE_FOLDER_ID"},{"name":"fields","value":"id,name,parents"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{}},"id":"311c5a37-108b-452f-b13b-0d271aacfdef","name":"Move to Flagged Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2384,1568],"credentials":{"googleDriveOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Drive Account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"append","sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Needs Review!A:P","options":{}},"id":"8b30ffa9-3150-4e59-9be4-184441b9d945","name":"Log to Needs Review Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[2160,1776],"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const d = $(\u0027Check for Duplicate\u0027).first().json;\nconst fileId = d.file_id || \u0027\u0027;\nconst driveUrl = \u0027https://drive.google.com/file/d/\u0027 + fileId + \u0027/view\u0027;\nconst confidence = Math.round((d.confidence_score||0)*100);\nconst amount = (d.total_amount!==null\u0026\u0026d.total_amount!==undefined)?(d.currency||\u0027\u0027)+\u0027 \u0027+d.total_amount:\u0027Not found\u0027;\nconst dupLabel = d.is_duplicate?\u0027 [DUPLICATE]\u0027:\u0027\u0027;\nconst errRows = (d.errors||[]).map(e=\u003e\u0027\u003cli style=\"color:#c04828;margin:4px 0\"\u003e\u0027+e+\u0027\u003c/li\u003e\u0027).join(\u0027\u0027);\nconst warnRows = (d.warnings||[]).length?\u0027\u003cp\u003e\u003cb\u003eWarnings:\u003c/b\u003e\u003c/p\u003e\u003cul\u003e\u0027+(d.warnings||[]).map(w=\u003e\u0027\u003cli style=\"color:#e67e22;margin:4px 0\"\u003e\u0027+w+\u0027\u003c/li\u003e\u0027).join(\u0027\u0027)+\u0027\u003c/ul\u003e\u0027:\u0027\u0027;\nconst html = \u0027\u003cdiv style=\"font-family:Arial,sans-serif;max-width:580px\"\u003e\u003cdiv style=\"background:#c04828;padding:18px 24px;border-radius:8px 8px 0 0\"\u003e\u003ch2 style=\"color:#fff;margin:0;font-size:16px\"\u003eInvoice Flagged\u0027+dupLabel+\u0027 (On-Demand API)\u003c/h2\u003e\u003c/div\u003e\u003cdiv style=\"padding:20px 24px;border:1px solid #ddd;border-top:none\"\u003e\u003ctable style=\"width:100%\"\u003e\u003ctr\u003e\u003ctd style=\"color:#666;padding:4px 12px 4px 0\"\u003eFile\u003c/td\u003e\u003ctd style=\"font-weight:700\"\u003e\u0027+(d.file_name||\u0027Unknown\u0027)+\u0027\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd style=\"color:#666;padding:4px 12px 4px 0\"\u003eVendor\u003c/td\u003e\u003ctd\u003e\u0027+(d.vendor_name||\u0027Not identified\u0027)+\u0027\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd style=\"color:#666;padding:4px 12px 4px 0\"\u003eInvoice #\u003c/td\u003e\u003ctd\u003e\u0027+(d.invoice_number||\u0027Not found\u0027)+\u0027\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd style=\"color:#666;padding:4px 12px 4px 0\"\u003eAmount\u003c/td\u003e\u003ctd\u003e\u0027+amount+\u0027\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd style=\"color:#666;padding:4px 12px 4px 0\"\u003eAI Confidence\u003c/td\u003e\u003ctd\u003e\u0027+confidence+\u0027%\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e\u003cp\u003e\u003cb\u003eProblems found:\u003c/b\u003e\u003c/p\u003e\u003cul\u003e\u0027+errRows+\u0027\u003c/ul\u003e\u0027+warnRows+\u0027\u003cp\u003e\u003ca href=\"\u0027+driveUrl+\u0027\" style=\"display:inline-block;background:#0f6e56;color:#fff;padding:10px 20px;text-decoration:none;border-radius:6px\"\u003eOpen in Google Drive\u003c/a\u003e\u003c/p\u003e\u003cp style=\"font-size:11px;color:#aaa\"\u003eProcessed: \u0027+d.processed_at+\u0027 | Source: webhook\u003c/p\u003e\u003c/div\u003e\u003c/div\u003e\u0027;\nreturn [{json:{subject:(d.is_duplicate?\u0027[DUPLICATE] \u0027:\u0027[FLAGGED] \u0027)+(d.file_name||\u0027Invoice\u0027)+\u0027 (API)\u0027,html}}];"},"id":"87064f0d-765d-45f7-bee7-5434111ed2c2","name":"Build Flagging Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,1680]},{"parameters":{"fromEmail":"your-email@example.com","toEmail":"your-email@example.com","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{}},"id":"7a7d445d-c4ef-47d8-9fe1-0358e08b9708","name":"Send Instant Alert","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2832,1680],"webhookId":"ddfee1a8-0f95-4677-b032-cc0312d99857","credentials":{"smtp":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"SMTP Account"}},"onError":"continueRegularOutput"}],"connections":{"Invoice Audit Webhook":{"main":[[{"node":"Download Invoice PDF","type":"main","index":0}]]},"Download Invoice PDF":{"main":[[{"node":"PDF to Base64","type":"main","index":0}]]},"PDF to Base64":{"main":[[{"node":"Build Gemini Payload","type":"main","index":0}]]},"Build Gemini Payload":{"main":[[{"node":"Analyze with Gemini","type":"main","index":0}]]},"Analyze with Gemini":{"main":[[{"node":"Parse Analysis Result","type":"main","index":0}]]},"Parse Analysis Result":{"main":[[{"node":"Read Verified Sheet","type":"main","index":0}]]},"Read Verified Sheet":{"main":[[{"node":"Read Flagged Sheet","type":"main","index":0}]]},"Read Flagged Sheet":{"main":[[{"node":"Check for Duplicate","type":"main","index":0}]]},"Check for Duplicate":{"main":[[{"node":"Determine Audit Status","type":"main","index":0}]]},"Determine Audit Status":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Is Verified?","type":"main","index":0}]]},"Is Verified?":{"main":[[{"node":"Log to Verified Sheet","type":"main","index":0}],[{"node":"Is Flagged?","type":"main","index":0}]]},"Log to Verified Sheet":{"main":[[{"node":"Move to Verified Folder","type":"main","index":0}]]},"Is Flagged?":{"main":[[{"node":"Log to Flagged Sheet","type":"main","index":0}],[{"node":"Log to Needs Review Sheet","type":"main","index":0}]]},"Log to Flagged Sheet":{"main":[[{"node":"Move to Flagged Folder","type":"main","index":0}]]},"Move to Flagged Folder":{"main":[[{"node":"Build Flagging Alert","type":"main","index":0}]]},"Log to Needs Review Sheet":{"main":[[{"node":"Build Flagging Alert","type":"main","index":0}]]},"Build Flagging Alert":{"main":[[{"node":"Send Instant Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"a33bd6df-1d6b-4647-aa3d-052ee4c1fc16","activeVersionId":"a33bd6df-1d6b-4647-aa3d-052ee4c1fc16","versionCounter":39,"triggerCount":1,"shared":[{"updatedAt":"2026-03-22T20:00:14.595Z","createdAt":"2026-03-22T20:00:14.595Z","role":"workflow:owner","workflowId":"5sNsebLAtUpSSpsp","projectId":"4z38v6JO6ntgY8gF","project":{"updatedAt":"2026-01-13T19:13:51.671Z","createdAt":"2026-01-13T19:11:25.659Z","id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"YOUR_NAME \u003cyour-email@example.com\u003e","type":"personal","icon":null,"description":null,"creatorId":"75bbfac3-5195-4843-9435-78dfd0d8f34f"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-01T17:43:31.000Z","createdAt":"2026-04-01T17:43:27.939Z","versionId":"a33bd6df-1d6b-4647-aa3d-052ee4c1fc16","workflowId":"5sNsebLAtUpSSpsp","nodes":[{"parameters":{"httpMethod":"POST","path":"invoice-audit","responseMode":"responseNode","options":{}},"id":"2c021af9-35a4-4907-8111-61c38efe6f59","name":"Invoice Audit Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-704,1568],"webhookId":"71e615d3-25c6-43cb-87a1-17e3aaa06253","onError":"continueRegularOutput"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.body.file_id }}","mode":"id"},"options":{}},"id":"7f7c11e8-af57-4484-bfeb-a63b902d63d5","name":"Download Invoice PDF","type":"n8n-nodes-base.googleDrive","typeVersion":2,"position":[-432,1568],"credentials":{"googleDriveOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Drive Account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"binaryToPropery","destinationKey":"base64data","options":{}},"id":"a4f2164a-c473-4551-90cb-f9f19d44121d","name":"PDF to Base64","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-304,1568]},{"parameters":{"jsCode":"const base64Data   = $input.first().json.base64data;\nconst body = $(\u0027Invoice Audit Webhook\u0027).first().json.body || {};\nconst fileName = body.file_name || \u0027invoice.pdf\u0027;\nconst fileId = body.file_id || \u0027\u0027;\nconst prompt = \u0027You are an invoice auditor. Analyze this invoice PDF.\\nReturn ONLY a raw JSON object with no markdown and no code fences.\\nFields: vendor_name (string or null), invoice_number (string or null), invoice_date (YYYY-MM-DD or null), due_date (YYYY-MM-DD or null), line_items_count (integer or null), total_amount (number or null), currency (3-letter ISO code or null), has_signature (boolean), signature_valid (boolean - true ONLY for handwritten ink or rubber stamp not printed names), confidence_score (float 0.0 to 1.0), errors (array - include: No signature found, Total amount missing, Not a valid invoice, Invoice number missing - whichever apply), warnings (array - include: Due date has passed, Currency unclear - whichever apply). Return ONLY the JSON.\u0027;\nconst payload = { contents: [{ parts: [{ inline_data: { mime_type: \u0027application/pdf\u0027, data: base64Data } }, { text: prompt }] }], generationConfig: { temperature: 0.0, maxOutputTokens: 2048 } };\nreturn [{ json: { payload, file_name: fileName, file_id: fileId } }];"},"id":"56c75daa-1e0c-428d-8b8b-84acd9ac0c83","name":"Build Gemini Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,1568]},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{"timeout":90000}},"id":"df29e82f-ca40-4f9f-b366-41c66ac5c190","name":"Analyze with Gemini","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,1568],"retryOnFail":true,"maxTries":3,"waitBetweenTries":12000,"credentials":{"httpQueryAuth":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Query Auth Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const geminiOutput=$input.first().json;\nconst fileMeta=$(\u0027Build Gemini Payload\u0027).first().json;\nlet parsed;\ntry{\n  const raw=geminiOutput.candidates[0].content.parts[0].text;\n  const start=raw.indexOf(\u0027{\u0027);const end=raw.lastIndexOf(\u0027}\u0027);\n  if(start===-1||end===-1)throw new Error(\u0027No JSON in response\u0027);\n  parsed=JSON.parse(raw.slice(start,end+1));\n}catch(e){\n  parsed={vendor_name:null,invoice_number:null,invoice_date:null,due_date:null,line_items_count:null,total_amount:null,currency:null,has_signature:false,signature_valid:false,confidence_score:0,errors:[\u0027AI parse failure: \u0027+e.message],warnings:[]};\n}\nreturn [{json:{file_name:String(fileMeta.file_name||\u0027\u0027),file_id:String(fileMeta.file_id||\u0027\u0027),vendor_name:parsed.vendor_name||null,invoice_number:String(parsed.invoice_number||\u0027\u0027),invoice_date:parsed.invoice_date||null,due_date:parsed.due_date||null,line_items_count:parsed.line_items_count||null,total_amount:(parsed.total_amount!==undefined\u0026\u0026parsed.total_amount!==null)?Number(parsed.total_amount):null,currency:parsed.currency||null,has_signature:Boolean(parsed.has_signature),signature_valid:Boolean(parsed.signature_valid),confidence_score:Math.min(1,Math.max(0,Number(parsed.confidence_score)||0)),errors:Array.isArray(parsed.errors)?parsed.errors:[],warnings:Array.isArray(parsed.warnings)?parsed.warnings:[],processed_at:new Date().toISOString(),source:\u0027webhook\u0027}}];"},"id":"8419c539-2e54-4d7f-8a27-340e771e3bc1","name":"Parse Analysis Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[336,1568]},{"parameters":{"sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Verified!A:Z","options":{}},"id":"be12afe5-fff9-452a-ad68-e9951304153a","name":"Read Verified Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[608,1568],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Flagged Invoices!A:Z","options":{}},"id":"4fd5babd-6891-4127-9f96-7d7440bffac6","name":"Read Flagged Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[736,1568],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Get rows from BOTH sheets for duplicate scanning\nconst verifiedRows = $(\u0027Read Verified Sheet\u0027).all().map(i =\u003e i.json).filter(r =\u003e r.invoice_number);\nconst flaggedRows = $input.all().map(i =\u003e i.json).filter(r =\u003e r.invoice_number);\nconst allRows = [...verifiedRows, ...flaggedRows];\n\n// Current invoice being processed\nconst auditData = $(\u0027Parse Analysis Result\u0027).first().json;\nconst invNum = String(auditData.invoice_number || \u0027\u0027).toLowerCase().trim();\nconst vendor = String(auditData.vendor_name || \u0027\u0027).toLowerCase().trim();\n\nlet is_duplicate = false;\nlet duplicate_ref = null;\n\nif (invNum.length \u003e 2 \u0026\u0026 vendor.length \u003e 2) {\n  const match = allRows.find(r =\u003e\n    String(r.invoice_number || \u0027\u0027).toLowerCase().trim() === invNum \u0026\u0026\n    String(r.vendor_name || \u0027\u0027).toLowerCase().trim() === vendor\n  );\n  if (match) {\n    is_duplicate = true;\n    duplicate_ref = match.file_name || \u0027previous submission\u0027;\n  }\n}\n\nconst errors = [...(auditData.errors || [])];\nif (is_duplicate) errors.push(\u0027Possible duplicate of: \u0027 + duplicate_ref);\n\nreturn [{ json: { ...auditData, is_duplicate, duplicate_ref: duplicate_ref || null, errors } }];"},"id":"5ac5a371-de2a-411c-8214-5cadf9fc6187","name":"Check for Duplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,1568]},{"parameters":{"jsCode":"const d = $input.first().json;\nlet status = \u0027verified\u0027;\nif (d.errors.length \u003e 0) status = \u0027flagged\u0027;\nelse if (d.confidence_score \u003c 0.75) status = \u0027needs_review\u0027;\nreturn [{ json: {\n  ...d,\n  audit_status: status,\n  _response: {\n    status,\n    file_name:        d.file_name,\n    vendor_name:      d.vendor_name,\n    invoice_number:   d.invoice_number,\n    invoice_date:     d.invoice_date,\n    due_date:         d.due_date,\n    total_amount:     d.total_amount,\n    currency:         d.currency,\n    has_signature:    d.has_signature,\n    signature_valid:  d.signature_valid,\n    confidence_score: d.confidence_score,\n    is_duplicate:     d.is_duplicate,\n    errors:           d.errors,\n    warnings:         d.warnings,\n    processed_at:     d.processed_at\n  }\n} }];"},"id":"5a7bdb5e-116a-4d8b-8751-6a1fd65a8903","name":"Determine Audit Status","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,1568]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json._response) }}","options":{"responseCode":200}},"id":"543a83e0-4fdd-4c44-b0f7-9e108e0059c6","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1376,1568]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"route-v","leftValue":"={{ $json.audit_status }}","rightValue":"verified","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"65e9b47c-6a9e-484a-8d60-5132b05fd415","name":"Is Verified?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1648,1568]},{"parameters":{"operation":"append","sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Verified!A:P","options":{}},"id":"7c156378-4434-4c02-bb72-3e3a411a7571","name":"Log to Verified Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[1904,1472],"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PATCH","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.file_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"addParents","value":"REPLACE_WITH_DRIVE_FOLDER_ID"},{"name":"removeParents","value":"REPLACE_WITH_DRIVE_FOLDER_ID"},{"name":"fields","value":"id,name,parents"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{}},"id":"4ec783fb-f4a7-4efa-814a-898403e2b731","name":"Move to Verified Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2128,1472],"credentials":{"googleDriveOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Drive Account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"route-f","leftValue":"={{ $json.audit_status }}","rightValue":"flagged","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"041156bc-668f-4ee0-8e4b-2148ed2f9a2e","name":"Is Flagged?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1904,1680]},{"parameters":{"operation":"append","sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Flagged Invoices!A:P","options":{}},"id":"9ebe0ef5-d310-4048-9f55-9112a010b42d","name":"Log to Flagged Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[2160,1568],"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"PATCH","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.file_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"addParents","value":"REPLACE_WITH_DRIVE_FOLDER_ID"},{"name":"removeParents","value":"REPLACE_WITH_DRIVE_FOLDER_ID"},{"name":"fields","value":"id,name,parents"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{}},"id":"311c5a37-108b-452f-b13b-0d271aacfdef","name":"Move to Flagged Folder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2384,1568],"credentials":{"googleDriveOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Drive Account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"append","sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Needs Review!A:P","options":{}},"id":"8b30ffa9-3150-4e59-9be4-184441b9d945","name":"Log to Needs Review Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[2160,1776],"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const d = $(\u0027Check for Duplicate\u0027).first().json;\nconst fileId = d.file_id || \u0027\u0027;\nconst driveUrl = \u0027https://drive.google.com/file/d/\u0027 + fileId + \u0027/view\u0027;\nconst confidence = Math.round((d.confidence_score||0)*100);\nconst amount = (d.total_amount!==null\u0026\u0026d.total_amount!==undefined)?(d.currency||\u0027\u0027)+\u0027 \u0027+d.total_amount:\u0027Not found\u0027;\nconst dupLabel = d.is_duplicate?\u0027 [DUPLICATE]\u0027:\u0027\u0027;\nconst errRows = (d.errors||[]).map(e=\u003e\u0027\u003cli style=\"color:#c04828;margin:4px 0\"\u003e\u0027+e+\u0027\u003c/li\u003e\u0027).join(\u0027\u0027);\nconst warnRows = (d.warnings||[]).length?\u0027\u003cp\u003e\u003cb\u003eWarnings:\u003c/b\u003e\u003c/p\u003e\u003cul\u003e\u0027+(d.warnings||[]).map(w=\u003e\u0027\u003cli style=\"color:#e67e22;margin:4px 0\"\u003e\u0027+w+\u0027\u003c/li\u003e\u0027).join(\u0027\u0027)+\u0027\u003c/ul\u003e\u0027:\u0027\u0027;\nconst html = \u0027\u003cdiv style=\"font-family:Arial,sans-serif;max-width:580px\"\u003e\u003cdiv style=\"background:#c04828;padding:18px 24px;border-radius:8px 8px 0 0\"\u003e\u003ch2 style=\"color:#fff;margin:0;font-size:16px\"\u003eInvoice Flagged\u0027+dupLabel+\u0027 (On-Demand API)\u003c/h2\u003e\u003c/div\u003e\u003cdiv style=\"padding:20px 24px;border:1px solid #ddd;border-top:none\"\u003e\u003ctable style=\"width:100%\"\u003e\u003ctr\u003e\u003ctd style=\"color:#666;padding:4px 12px 4px 0\"\u003eFile\u003c/td\u003e\u003ctd style=\"font-weight:700\"\u003e\u0027+(d.file_name||\u0027Unknown\u0027)+\u0027\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd style=\"color:#666;padding:4px 12px 4px 0\"\u003eVendor\u003c/td\u003e\u003ctd\u003e\u0027+(d.vendor_name||\u0027Not identified\u0027)+\u0027\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd style=\"color:#666;padding:4px 12px 4px 0\"\u003eInvoice #\u003c/td\u003e\u003ctd\u003e\u0027+(d.invoice_number||\u0027Not found\u0027)+\u0027\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd style=\"color:#666;padding:4px 12px 4px 0\"\u003eAmount\u003c/td\u003e\u003ctd\u003e\u0027+amount+\u0027\u003c/td\u003e\u003c/tr\u003e\u003ctr\u003e\u003ctd style=\"color:#666;padding:4px 12px 4px 0\"\u003eAI Confidence\u003c/td\u003e\u003ctd\u003e\u0027+confidence+\u0027%\u003c/td\u003e\u003c/tr\u003e\u003c/table\u003e\u003cp\u003e\u003cb\u003eProblems found:\u003c/b\u003e\u003c/p\u003e\u003cul\u003e\u0027+errRows+\u0027\u003c/ul\u003e\u0027+warnRows+\u0027\u003cp\u003e\u003ca href=\"\u0027+driveUrl+\u0027\" style=\"display:inline-block;background:#0f6e56;color:#fff;padding:10px 20px;text-decoration:none;border-radius:6px\"\u003eOpen in Google Drive\u003c/a\u003e\u003c/p\u003e\u003cp style=\"font-size:11px;color:#aaa\"\u003eProcessed: \u0027+d.processed_at+\u0027 | Source: webhook\u003c/p\u003e\u003c/div\u003e\u003c/div\u003e\u0027;\nreturn [{json:{subject:(d.is_duplicate?\u0027[DUPLICATE] \u0027:\u0027[FLAGGED] \u0027)+(d.file_name||\u0027Invoice\u0027)+\u0027 (API)\u0027,html}}];"},"id":"87064f0d-765d-45f7-bee7-5434111ed2c2","name":"Build Flagging Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,1680]},{"parameters":{"fromEmail":"your-email@example.com","toEmail":"your-email@example.com","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{}},"id":"7a7d445d-c4ef-47d8-9fe1-0358e08b9708","name":"Send Instant Alert","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2832,1680],"webhookId":"ddfee1a8-0f95-4677-b032-cc0312d99857","credentials":{"smtp":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"SMTP Account"}},"onError":"continueRegularOutput"}],"connections":{"Invoice Audit Webhook":{"main":[[{"node":"Download Invoice PDF","type":"main","index":0}]]},"Download Invoice PDF":{"main":[[{"node":"PDF to Base64","type":"main","index":0}]]},"PDF to Base64":{"main":[[{"node":"Build Gemini Payload","type":"main","index":0}]]},"Build Gemini Payload":{"main":[[{"node":"Analyze with Gemini","type":"main","index":0}]]},"Analyze with Gemini":{"main":[[{"node":"Parse Analysis Result","type":"main","index":0}]]},"Parse Analysis Result":{"main":[[{"node":"Read Verified Sheet","type":"main","index":0}]]},"Read Verified Sheet":{"main":[[{"node":"Read Flagged Sheet","type":"main","index":0}]]},"Read Flagged Sheet":{"main":[[{"node":"Check for Duplicate","type":"main","index":0}]]},"Check for Duplicate":{"main":[[{"node":"Determine Audit Status","type":"main","index":0}]]},"Determine Audit Status":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Is Verified?","type":"main","index":0}]]},"Is Verified?":{"main":[[{"node":"Log to Verified Sheet","type":"main","index":0}],[{"node":"Is Flagged?","type":"main","index":0}]]},"Log to Verified Sheet":{"main":[[{"node":"Move to Verified Folder","type":"main","index":0}]]},"Is Flagged?":{"main":[[{"node":"Log to Flagged Sheet","type":"main","index":0}],[{"node":"Log to Needs Review Sheet","type":"main","index":0}]]},"Log to Flagged Sheet":{"main":[[{"node":"Move to Flagged Folder","type":"main","index":0}]]},"Move to Flagged Folder":{"main":[[{"node":"Build Flagging Alert","type":"main","index":0}]]},"Log to Needs Review Sheet":{"main":[[{"node":"Build Flagging Alert","type":"main","index":0}]]},"Build Flagging Alert":{"main":[[{"node":"Send Instant Alert","type":"main","index":0}]]}},"authors": "YOUR_NAME","name":"Version a33bd6df","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-01T17:43:31.632Z","id":226,"workflowId":"5sNsebLAtUpSSpsp","versionId":"a33bd6df-1d6b-4647-aa3d-052ee4c1fc16","event":"activated","userId":"75bbfac3-5195-4843-9435-78dfd0d8f34f"}]}}
