layer-4-execution/AI-Influencer-Factory/workflows/ai_influencer_engine.json
{
  "name": "🤖 AI Influencer Factory v3 — Enterprise Edition (Plan B)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [{ json: { spreadsheetId: \"1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg\", masterSheetName: \"Master\", calendarSheetName: \"Calendar\", safeMode: false, logDrainUrl: \"https://n8n.pureremedysolutions.com/webhook/log-drain\", smtpFrom: \"Influencer Factory <kspandian32@gmail.com>\", sheetUrl: \"https://docs.google.com/spreadsheets/d/1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg/edit\" } }];"
      },
      "id": "e18d597a-f027-4073-ba88-430e0c6d9fbb",
      "name": "⚙️ Global Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        80
      ]
    },
    {
      "parameters": {
        "formTitle": "🤖 AI Influencer Factory (Plan B)",
        "formDescription": "Enter details. AI will generate character sheets & 30-day calendar.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Influencer Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Instagram Handle",
              "requiredField": true
            },
            {
              "fieldLabel": "Niche",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Fitness & Wellness"
                  },
                  {
                    "option": "Fashion & Lifestyle"
                  },
                  {
                    "option": "Travel & Adventure"
                  },
                  {
                    "option": "AI & Tech"
                  },
                  {
                    "option": "Business & Finance"
                  },
                  {
                    "option": "Food & Cooking"
                  },
                  {
                    "option": "Beauty & Skincare"
                  },
                  {
                    "option": "Motivation & Mindset"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Your Email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "08a9d93a-e3a4-46ae-9a67-3d8dc675cda0",
      "name": "🗓️ Trigger: Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1296,
        176
      ],
      "webhookId": "8966fb6a-7404-44ba-86a8-0d7c74788257"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "You are an expert AI influencer strategist. Create detailed virtual influencer character sheets. Return ONLY raw valid JSON. DO NOT use markdown blocks like ```json, just return the raw object starting with {."
            },
            {
              "content": "={{ \"Create a detailed character profile for: \" + $(\"🗓️ Trigger: Form\").first().json[\"Influencer Name\"] + \"\\nNiche: \" + $(\"🗓️ Trigger: Form\").first().json[\"Niche\"] + \"\\n\\nReturn this EXACT JSON structure:\\n{\\n  \\\"personality\\\": \\\"3 descriptive words\\\",\\n  \\\"aesthetic\\\": \\\"Visual style description\\\",\\n  \\\"bio\\\": \\\"Instagram bio with emojis\\\",\\n  \\\"master_prompt\\\": \\\"Master appearance description for image generation\\\",\\n  \\\"caption_style\\\": \\\"Tone of voice description\\\",\\n  \\\"content_pillars\\\": [\\\"List of 3 pillars\\\"],\\n  \\\"target_audience\\\": \\\"Primary demographic\\\",\\n  \\\"hashtags\\\": \\\"#tag1 #tag2 #tag3\\\"\\n}\" }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "50bcbba1-0190-4306-b07d-93fa983c66e6",
      "name": "🤖 AI: Profile",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -624,
        176
      ],
      "credentials": {
        "openAiApi": {
          "id": "So1Wi5RlSonVFbIN",
          "name": "OpenAI fresh-key"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "You are an Instagram content strategist. Create detailed content calendars with ready-to-use Ideogram AI image prompts. Return ONLY a raw JSON array. DO NOT use markdown blocks like ```json, just return the raw array starting with [."
            },
            {
              "content": "={{ \"Create a 30-day Instagram calendar for \" + $(\"🗓️ Trigger: Form\").first().json[\"Influencer Name\"] + \".\\n\\nCharacter Profile: \" + $(\"🤖 AI: Profile\").first().json.message.content + \"\\n\\nReturn a JSON ARRAY of 30 items. Each item:\\n{\\n  \\\"day\\\": 1,\\n  \\\"type\\\": \\\"Feed Post or Carousel or Reel or Story\\\",\\n  \\\"photo_description\\\": \\\"What the image shows\\\",\\n  \\\"ideogram_prompt\\\": \\\"FULL Ideogram prompt for this specific scene.\\\",\\n  \\\"caption\\\": \\\"2-3 line Instagram caption\\\",\\n  \\\"hashtags\\\": \\\"15 hashtags as string\\\",\\n  \\\"posting_time\\\": \\\"Time in IST\\\"\\n}\" }}"
            }
          ]
        },
        "options": {
          "maxTokens": 16384
        },
        "requestOptions": {}
      },
      "id": "faa9904e-f07b-4e51-93de-73c8bf147f50",
      "name": "🤖 AI: 30-Day Calendar",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -400,
        80
      ],
      "credentials": {
        "openAiApi": {
          "id": "So1Wi5RlSonVFbIN",
          "name": "OpenAI fresh-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let aiNode = $(\"🤖 AI: Profile\").first().json;\nlet content = aiNode.message?.content || aiNode.text;\nlet charAi;\nif (typeof content === 'object') {\n  charAi = content;\n} else if (typeof content === 'string') {\n  try {\n    charAi = JSON.parse(content.replace(/```json/gi, '').replace(/```/g, '').trim());\n  } catch(e) {\n    charAi = {};\n  }\n} else {\n  charAi = aiNode; \n}\n\nconst form = $(\"🗓️ Trigger: Form\").first().json;\n\nreturn [{\n  json: {\n    Name: form[\"Influencer Name\"],\n    Handle: form[\"Instagram Handle\"],\n    Niche: form[\"Niche\"],\n    Gender: \"Generated\",\n    Age: \"24\",\n    Location: \"India\",\n    Personality: charAi.personality || \"\",\n    Aesthetic: charAi.aesthetic || \"\",\n    Bio: charAi.bio || \"\",\n    \"Hashtag Bank\": charAi.hashtags || \"\",\n    Timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "434e0c62-7015-4363-aec9-3159813acef7",
      "name": "🔧 Data: Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"⚙️ Global Config\").first().json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $(\"⚙️ Global Config\").first().json.masterSheetName }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "091557a7-bf8f-400f-aeff-ce969223f96d",
      "name": "💾 Memory: Log Master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        48,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hiWj9Xv9QRzG92uS",
          "name": "AI Lead Gen Machine Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let aiNode = $(\"🤖 AI: 30-Day Calendar\").first().json;\nlet content = aiNode.message?.content || aiNode.text;\nlet calAi;\n\nif (typeof content === 'object') {\n  calAi = content;\n} else if (typeof content === 'string') {\n  let clean = content.replace(/```json/gi, '').replace(/```/g, '').trim();\n  // Robust fix for truncated JSON array\n  if (clean.startsWith('[') && !clean.endsWith(']')) {\n    const stripped = clean.replace(/,\\s*$/, '');\n    let fixed = false;\n    try { JSON.parse(stripped + ']'); clean = stripped + ']'; fixed = true; } catch(e) {}\n    if (!fixed) {\n      try { JSON.parse(stripped + '}]'); clean = stripped + '}]'; fixed = true; } catch(e) {}\n    }\n    if (!fixed) { clean = '[]'; }\n  }\n  try {\n    calAi = JSON.parse(clean);\n  } catch(e) {\n    calAi = [];\n  }\n} else {\n  calAi = aiNode;\n}\n\nconst form = $(\"🗓️ Trigger: Form\").first().json;\nconst influencer = form[\"Influencer Name\"] + \" (\" + form[\"Instagram Handle\"] + \")\";\n\nif (!Array.isArray(calAi)) return [];\n\nreturn calAi.map(day => ({ json: {\n  Influencer: influencer,\n  Day: day.day || \"\",\n  Type: day.type || \"\",\n  \"Photo Description\": day.photo_description || \"\",\n  \"Ideogram Prompt\": day.ideogram_prompt || \"\",\n  Caption: day.caption || \"\",\n  Hashtags: day.hashtags || \"\",\n  \"Posting Time\": day.posting_time || \"\",\n  \"Image Status\": \"Not Generated\",\n  \"Video Status\": \"Not Generated\",\n  Posted: \"No\"\n} }));"
      },
      "id": "1d62dfd2-8347-4d13-9b3e-dd4e9898e9af",
      "name": "🔧 Data: Expand Calendar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        80
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"⚙️ Global Config\").first().json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $(\"⚙️ Global Config\").first().json.calendarSheetName }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "0630a030-c6fa-43c7-8d77-fbce9ed5a893",
      "name": "💾 Memory: Log Calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        496,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hiWj9Xv9QRzG92uS",
          "name": "AI Lead Gen Machine Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $(\"⚙️ Global Config\").first().json.smtpFrom }}",
        "toEmail": "={{ $(\"🗓️ Trigger: Form\").first().json[\"Your Email\"] }}",
        "subject": "=🤖 AI Influencer Package: {{ $(\"🗓️ Trigger: Form\").first().json[\"Influencer Name\"] }}",
        "html": "=<h1>🤖 AI Influencer Package Ready</h1><p>Hello,</p><p>Your AI Influencer character sheet and 30-day content calendar for <b>{{ $(\"🗓️ Trigger: Form\").first().json[\"Influencer Name\"] }}</b> have been generated and logged to the Master Spreadsheet.</p><p>Best regards,<br>AI Influencer Factory</p>",
        "options": {}
      },
      "id": "34236b45-9cf6-4100-9030-cc7eb14ac4e0",
      "name": "🚀 Execute: Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        272,
        -112
      ],
      "webhookId": "5a269c53-d96f-4f53-bad5-5c5b003c9cda",
      "credentials": {
        "smtp": {
          "id": "udtIzlJq8iqmL3aZ",
          "name": "SMTP account - kspandian32"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pureremedysolutions.com/webhook/log-drain",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "AI Influencer Factory"
            },
            {
              "name": "level",
              "value": "info"
            },
            {
              "name": "message",
              "value": "Workflow triggered — new influencer setup started"
            }
          ]
        },
        "options": {}
      },
      "id": "eadfbc9a-76f2-4722-b7ef-5b7fdbf274ab",
      "name": "📝 Log: Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1072,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pureremedysolutions.com/webhook/log-drain",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "AI Influencer Factory"
            },
            {
              "name": "level",
              "value": "info"
            },
            {
              "name": "message",
              "value": "AI character profile generated successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "a399604c-c569-4797-93d5-df60325795fc",
      "name": "📝 Log: Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -400,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pureremedysolutions.com/webhook/log-drain",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "AI Influencer Factory"
            },
            {
              "name": "level",
              "value": "info"
            },
            {
              "name": "message",
              "value": "30-day calendar generated successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "5cda1db5-952c-4507-923e-9cdc61bcf974",
      "name": "📝 Log: Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pureremedysolutions.com/webhook/log-drain",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "AI Influencer Factory"
            },
            {
              "name": "level",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Influencer setup complete — profile + calendar logged to Sheets"
            }
          ]
        },
        "options": {}
      },
      "id": "9f379517-d712-485d-81e3-6dbd215184aa",
      "name": "📝 Log: Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-1777363400000-safe",
              "leftValue": "={{ $json.safeMode }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              }
            }
          ],
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "none",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "1fa20bc8-995d-41d5-b906-b208784e3a14",
      "name": "🛡️ IF: Safe Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -848,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.pureremedysolutions.com/webhook/log-drain",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "AI Influencer Factory"
            },
            {
              "name": "level",
              "value": "warn"
            },
            {
              "name": "message",
              "value": "Safe Mode Active: Skipping AI Generation."
            }
          ]
        },
        "options": {}
      },
      "id": "93a36638-0bae-42f1-bca4-cb8fd4e46b5f",
      "name": "📝 Log: Safe Mode (Skip)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -624,
        -16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "🗓️ Trigger: Form": {
      "main": [
        [
          {
            "node": "⚙️ Global Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "📝 Log: Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Global Config": {
      "main": [
        [
          {
            "node": "🛡️ IF: Safe Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ IF: Safe Mode?": {
      "main": [
        [
          {
            "node": "📝 Log: Safe Mode (Skip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🤖 AI: Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI: Profile": {
      "main": [
        [
          {
            "node": "🤖 AI: 30-Day Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "📝 Log: Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI: 30-Day Calendar": {
      "main": [
        [
          {
            "node": "🔧 Data: Normalize",
            "type": "main",
            "index": 0
          },
          {
            "node": "📝 Log: Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Data: Normalize": {
      "main": [
        [
          {
            "node": "💾 Memory: Log Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Memory: Log Master": {
      "main": [
        [
          {
            "node": "🚀 Execute: Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔧 Data: Expand Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Data: Expand Calendar": {
      "main": [
        [
          {
            "node": "💾 Memory: Log Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Memory: Log Calendar": {
      "main": [
        [
          {
            "node": "📝 Log: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Gada0T8rzuzLSEte"
  },
  "versionId": "a3c657f3-3fb8-4930-a45e-4fe00c3f9363",
  "meta": {
    "instanceId": "ed2a568837751c5a1f9702fd6c1922630ad5492c39a030f09d6e222deb3330e8"
  },
  "id": "wK18IwIA4ERn8xh9",
  "tags": []
}