layer-4-execution/AI-Influencer-Factory/workflows/auto_publisher_v3.json
{
  "name": "🤖 AI Influencer Factory v3 — Auto-Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "af9dada9-5904-41f3-9dbc-c8e6cb73f9f6",
      "name": "🗓️ Trigger: Schedule",
      "position": [
        80,
        656
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "6e21599e-0e29-446f-9baf-9dee5d2bd011",
      "name": "Manual Force Publish",
      "position": [
        80,
        464
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "trigger-999",
        "options": {}
      },
      "id": "978a3318-4207-4f3f-a664-0b96e8d81a67",
      "name": "Trigger Hook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        80,
        272
      ],
      "webhookId": "fb6994c4-0eb5-4886-8f76-05f0b33ee644"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { spreadsheetId: \"YOUR_SPREADSHEET_ID\", calendarSheetName: \"Calendar\", igUserId: \"YOUR_IG_USER_ID\", safeMode: true, logDrainUrl: \"YOUR_LOG_DRAIN_WEBHOOK_URL\" } }];"
      },
      "id": "4c77abe9-0985-49b4-8ee2-fe43c9bee162",
      "name": "⚙️ Global Config",
      "position": [
        304,
        464
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-safe-pub",
              "leftValue": "={{ $json.safeMode }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9264cbf4-7996-4699-8ca1-ab8d31473259",
      "name": "🛡️ IF: Safe Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        528,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"⚙️ Global Config\").first().json.logDrainUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "Auto-Publisher"
            },
            {
              "name": "level",
              "value": "warn"
            },
            {
              "name": "message",
              "value": "Safe Mode Active: Skipping Publishing."
            }
          ]
        },
        "options": {}
      },
      "id": "6b334b2c-26be-4f9b-b08b-61b29ab59097",
      "name": "📝 Log: Safe Mode (Skip)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        368
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Calendar"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Posted",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "id": "f6d06034-6ce8-4122-8e96-91d83fb90f82",
      "name": "💾 Memory: Read Calendar",
      "position": [
        752,
        560
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Sheets OAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-has-image",
              "leftValue": "={{ $json['Image Status'] }}",
              "operator": {
                "operation": "startsWith",
                "type": "string"
              },
              "rightValue": "http"
            }
          ],
          "options": {
            "caseSensitive": false,
            "typeValidation": "none",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "83cab40a-10d1-4641-bbbb-214ca1038f27",
      "name": "🛡️ IF: Has Image?",
      "position": [
        976,
        560
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const ideogramUrl = (item.json['Image Status'] || '').trim();\n  let resolvedUrl = null;\n  let resolveMethod = 'failed';\n\n  if (ideogramUrl === 'Not Generated' || ideogramUrl === '') {\n    continue;\n  }\n\n  // Helper: verify URL actually serves an image\n  async function verifyImageUrl(url) {\n    try {\n      const r = await fetch(url, { method: 'HEAD', redirect: 'follow' });\n      const ct = r.headers.get('content-type') || '';\n      return r.ok && ct.startsWith('image/');\n    } catch(e) { return false; }\n  }\n\n  // Strategy 1: Ideogram gallery URL → CDN direct URL\n  const galleryMatch = ideogramUrl.match(/ideogram\\.ai\\/g\\/([A-Za-z0-9_-]+)\\/(\\d+)/);\n  if (galleryMatch) {\n    const [, hash, idx] = galleryMatch;\n    const candidates = [\n      `https://ideogram.ai/assets/progressive-image/balanced/response/${hash}/${idx}`,\n      `https://ideogram.ai/assets/image/lossless/response/${hash}/${idx}`,\n      `https://ideogram.ai/assets/image/balanced/response/${hash}/${idx}`,\n    ];\n    for (const candidate of candidates) {\n      if (await verifyImageUrl(candidate)) {\n        resolvedUrl = candidate;\n        resolveMethod = 'cdn-construct-verified';\n        break;\n      }\n    }\n  }\n\n  // Strategy 2: og:image scraping\n  if (!resolvedUrl && ideogramUrl.toLowerCase().startsWith('http')) {\n    try {\n      const response = await fetch(ideogramUrl, {\n        headers: {\n          'User-Agent': 'facebookexternalhit/1.1 (+http://www.facebook.com/externalhit_uatext.php)',\n          'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8'\n        },\n        redirect: 'follow'\n      });\n      const html = await response.text();\n      const match =\n        html.match(/property=[\"']og:image[\"'][^>]*content=[\"']([^\"']+)[\"']/i) ||\n        html.match(/content=[\"']([^\"']+)[\"'][^>]*property=[\"']og:image[\"']/i) ||\n        html.match(/\"url\":\"(https:\\/\\/[^\"]+\\.(?:jpg|jpeg|png|webp)[^\"]*)\"/i);\n      if (match && match[1] && match[1] !== ideogramUrl) {\n        resolvedUrl = match[1];\n        resolveMethod = 'og-image-scrape';\n      }\n    } catch (e) {}\n  }\n\n  // Strategy 3: Absolute fallback\n  if (!resolvedUrl && ideogramUrl.toLowerCase().startsWith('http')) {\n    resolvedUrl = ideogramUrl;\n    resolveMethod = 'fallback-original';\n  }\n\n  if (resolvedUrl && resolvedUrl.toLowerCase().startsWith('http')) {\n    const caption = item.json['Caption'] || '';\n    const hashtags = item.json['Hashtags'] || '';\n    const fullCaption = hashtags.trim() ? `${caption}\\n\\n${hashtags}` : caption;\n\n    results.push({\n      json: {\n        ...item.json,\n        resolvedImageUrl: resolvedUrl,\n        fullCaption,\n        _resolveMethod: resolveMethod\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "27b84ddf-4cad-4974-ab94-9c74f7fbcdbc",
      "name": "🔧 Resolve Image URLs",
      "position": [
        1200,
        560
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5007/publish",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.resolvedImageUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.fullCaption }}"
            },
            {
              "name": "ig_user_id",
              "value": "={{ $(\"⚙️ Global Config\").first().json.igUserId }}"
            },
            {
              "name": "resolve_method",
              "value": "={{ $json._resolveMethod }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "3a4dd73f-dca3-4df5-8033-7e87c75db0cd",
      "name": "🚀 Instagram: Publish via Bridge",
      "position": [
        1424,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Calendar"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": true,
              "display": true,
              "displayName": "row_number",
              "id": "row_number",
              "readOnly": true,
              "required": false,
              "type": "number"
            },
            {
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Posted",
              "id": "Posted",
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Posted": "Yes",
            "row_number": "={{ $('🔧 Resolve Image URLs').item.json.row_number }}"
          }
        },
        "options": {}
      },
      "id": "eed9ebbf-d0ec-4684-8de0-1c40d97fa740",
      "name": "💾 Memory: Mark Posted",
      "position": [
        1648,
        560
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Sheets OAuth2 Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"⚙️ Global Config\").first().json.logDrainUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "Auto-Publisher"
            },
            {
              "name": "level",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Post published and marked as posted in Calendar sheet"
            }
          ]
        },
        "options": {}
      },
      "id": "346e9c56-fba9-43fb-901e-8a44911433b5",
      "name": "📝 Log: Success",
      "position": [
        1872,
        560
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"⚙️ Global Config\").first().json.logDrainUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_name",
              "value": "Auto-Publisher"
            },
            {
              "name": "level",
              "value": "error"
            },
            {
              "name": "message",
              "value": "Instagram publish failed"
            },
            {
              "name": "image_url",
              "value": "={{ $json.resolvedImageUrl || '' }}"
            },
            {
              "name": "resolve_method",
              "value": "={{ $json._resolveMethod || '' }}"
            },
            {
              "name": "caption_preview",
              "value": "={{ ($json.fullCaption || '').slice(0, 120) }}"
            },
            {
              "name": "error",
              "value": "={{ $json.message || $json.error || 'Bridge returned non-200' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1d22f4e3-2957-4e72-92e6-b1b992fb642d",
      "name": "📛 Log: Publish Failed",
      "position": [
        80,
        880
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4
    }
  ],
  "pinData": {
    "Manual Force Publish": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "🗓️ Trigger: Schedule": {
      "main": [
        [
          {
            "node": "⚙️ Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Force Publish": {
      "main": [
        [
          {
            "node": "⚙️ Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Hook": {
      "main": [
        [
          {
            "node": "⚙️ Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Global Config": {
      "main": [
        [
          {
            "node": "🛡️ IF: Safe Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ IF: Safe Mode?": {
      "main": [
        [
          {
            "node": "📝 Log: Safe Mode (Skip)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💾 Memory: Read Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Memory: Read Calendar": {
      "main": [
        [
          {
            "node": "🛡️ IF: Has Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ IF: Has Image?": {
      "main": [
        [
          {
            "node": "🔧 Resolve Image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Image URLs": {
      "main": [
        [
          {
            "node": "🚀 Instagram: Publish via Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Instagram: Publish via Bridge": {
      "main": [
        [
          {
            "node": "💾 Memory: Mark Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Memory: Mark Posted": {
      "main": [
        [
          {
            "node": "📝 Log: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "72b3cb53-39b3-4f98-969c-d120587a0ec1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed2a568837751c5a1f9702fd6c1922630ad5492c39a030f09d6e222deb3330e8"
  },
  "id": "hauIuGCfrHYPbHcg",
  "tags": []
}