layer-4-execution/AI-Influencer-Factory/workflows/auto_publisher.json
{
  "updatedAt": "2026-04-27T09:13:16.715Z",
  "createdAt": "2026-04-27T01:24:04.185Z",
  "id": "cLgMmUxrztbrjS27",
  "name": "🤖 AI Influencer Factory v3 — Auto-Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      },
      "id": "97914409-e1bb-4397-99e6-cb1ca6ab6536",
      "name": "🗓️ Trigger: Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    spreadsheetId: \"1Txyuj08oqwGtsyBZ9Llorb0oygPBWDz3RisGomy1Evg\",\n    calendarSheetName: \"Calendar\",\n    safeMode: true,\n    logDrainUrl: \"https://n8n.pureremedysolutions.com/webhook/log-drain\"\n  }\n}];"
      },
      "id": "3dd83619-0d07-484c-ac84-c102f481dc10",
      "name": "⚙️ Global Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0]
    },
    {
      "parameters": {
        "documentId": "={{ $(\"⚙️ Global Config\").first().json.spreadsheetId }}",
        "sheetName": "={{ $('⚙️ Global Config').first().json.calendarSheetName }}",
        "filtersUI": {
          "values": [{ "lookupColumn": "Posted", "lookupValue": "No" }]
        }
      },
      "id": "6d8a1662-0038-4f0d-9694-4fbf4444cecd",
      "name": "💾 Memory: Read Calendar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [448, 0]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.Posted }}",
              "operator": { "operation": "equals", "type": "string" },
              "rightValue": "No"
            }
          ]
        }
      },
      "id": "4cdc19cc-f8fa-46cf-a8e3-8b7a27468bdc",
      "name": "🛡️ Gate: Filter Due",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [672, 0]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json[\"Image Status\"] }}",
              "operator": { "operation": "startsWith", "type": "string" },
              "rightValue": "http"
            }
          ]
        }
      },
      "id": "has-image-gate-id",
      "name": "🛡️ Gate: Has Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, -150]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $(\"⚙️ Global Config\").first().json.safeMode }}",
              "operator": { "operation": "equals", "type": "boolean" },
              "rightValue": true
            }
          ]
        }
      },
      "id": "9aa49b76-de74-4da9-b48a-713fd8b2560f",
      "name": "🛡️ Gate: Safe Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 0]
    },
    {
      "parameters": {
        "jsCode": "// Pass through input and add mock status\nreturn $input.all().map(item => {\n  item.json.status = \"MOCK_PUBLISHED\";\n  return item;\n});"
      },
      "id": "6801cefb-e128-4950-b7c3-2eded8eef42c",
      "name": "🚀 Execute: Mock Publish",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 72]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $(\"⚙️ Global Config\").first().json.spreadsheetId }}",
        "sheetName": "={{ $(\"⚙️ Global Config\").first().json.calendarSheetName }}",
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["row_number"],
          "value": { "Posted": "Yes", "row_number": "={{$json.row_number}}" }
        }
      },
      "id": "622d4fb1-e7be-4871-9cec-717942e78f27",
      "name": "💾 Memory: Mark Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1344, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $(\"⚙️ Global Config\").first().json.logDrainUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "workflow_name", "value": "Auto-Publisher" },
            { "name": "message", "value": "Done" }
          ]
        }
      },
      "id": "6f4ea8d2-495b-478f-b1ad-d50c7547aee4",
      "name": "📝 Log: Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1568, 0]
    }
  ],
  "connections": {
    "🗓️ Trigger: Schedule": { "main": [[{ "node": "⚙️ Global Config", "type": "main", "index": 0 }]] },
    "⚙️ Global Config": { "main": [[{ "node": "💾 Memory: Read Calendar", "type": "main", "index": 0 }]] },
    "💾 Memory: Read Calendar": { "main": [[{ "node": "🛡️ Gate: Filter Due", "type": "main", "index": 0 }]] },
    "🛡️ Gate: Filter Due": { "main": [[{ "node": "🛡️ Gate: Has Image?", "type": "main", "index": 0 }]] },
    "🛡️ Gate: Has Image?": { "main": [[{ "node": "💾 Memory: Mark Posted", "type": "main", "index": 0 }], [{ "node": "🛡️ Gate: Safe Mode", "type": "main", "index": 0 }]] },
    "🛡️ Gate: Safe Mode": { "main": [[{ "node": "💾 Memory: Mark Posted", "type": "main", "index": 0 }], [{ "node": "🚀 Execute: Mock Publish", "type": "main", "index": 0 }]] },
    "🚀 Execute: Mock Publish": { "main": [[{ "node": "💾 Memory: Mark Posted", "type": "main", "index": 0 }]] },
    "💾 Memory: Mark Posted": { "main": [[{ "node": "📝 Log: Success", "type": "main", "index": 0 }]] }
  }
}
