layer-4-execution/Invoice-Vision-Auditor/Digest.json
{"updatedAt":"2026-04-08T20:11:02.314Z","createdAt":"2026-03-22T19:59:54.231Z","id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"📊 Invoice Vision Auditor — Daily Digest","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"id":"9018a457-352b-43bf-aec3-78ba209d4f5c","name":"Daily 8am Trigger","position":[-1824,96],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"parameters":{"sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Verified!A:P","options":{}},"alwaysOutputData":true,"id":"5465f4c8-205e-45ab-a98a-0d5be125705a","name":"Read Verified Sheet","position":[-1600,96],"type":"n8n-nodes-base.googleSheets","typeVersion":2,"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Flagged Invoices!A:P","options":{}},"alwaysOutputData":true,"id":"a337f97a-970e-4463-a45a-3335ba339285","name":"Read Flagged Sheet","position":[-1376,96],"type":"n8n-nodes-base.googleSheets","typeVersion":2,"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Needs Review!A:P","options":{}},"alwaysOutputData":true,"id":"1a1f3255-658c-403d-93f6-dccf4bc62d99","name":"Read Needs Review Sheet","position":[-1152,96],"type":"n8n-nodes-base.googleSheets","typeVersion":2,"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const today=new Date().toISOString().slice(0,10);\nconst verified=$(\u0027Read Verified Sheet\u0027).all().map(i=\u003ei.json).filter(r=\u003eString(r.processed_at||\u0027\u0027).startsWith(today));\nconst flagged=$(\u0027Read Flagged Sheet\u0027).all().map(i=\u003ei.json).filter(r=\u003eString(r.processed_at||\u0027\u0027).startsWith(today));\nconst needsReview=$(\u0027Read Needs Review Sheet\u0027).all().map(i=\u003ei.json).filter(r=\u003eString(r.processed_at||\u0027\u0027).startsWith(today));\nconst totalCount=verified.length+flagged.length+needsReview.length;\nconst passRate=totalCount\u003e0?((verified.length/totalCount)*100).toFixed(1):\u00270.0\u0027;\nconst totalAmount=verified.reduce((s,r)=\u003e{const v=parseFloat(r.total_amount);return s+(isNaN(v)?0:v);},0);\nconst currencyMap={};\nfor(const r of verified){const c=r.currency||\u0027UNKNOWN\u0027;if(!currencyMap[c])currencyMap[c]={count:0,total:0};currencyMap[c].count++;currencyMap[c].total+=parseFloat(r.total_amount)||0;}\nconst currencyRows=Object.entries(currencyMap).sort((a,b)=\u003eb[1].total-a[1].total).map(([currency,d])=\u003e({currency,count:d.count,total:d.total.toFixed(2)}));\nconst topErrors=flagged.flatMap(r=\u003e(r.errors||\u0027\u0027).split(\u0027 | \u0027).filter(Boolean)).reduce((acc,e)=\u003e{acc[e.trim()]=(acc[e.trim()]||0)+1;return acc;},{});\nconst avgConf=verified.length\u003e0?Math.round(verified.reduce((s,r)=\u003es+(parseFloat(r.confidence_score)||0),0)/verified.length*100):null;\nconst dupCount=[...flagged,...needsReview].filter(r=\u003eString(r.is_duplicate)===\u0027true\u0027).length;\nreturn [{json:{today,totalCount,verifiedCount:verified.length,flaggedCount:flagged.length,needsReviewCount:needsReview.length,passRate,totalAmount:totalAmount.toFixed(2),currencyRows,topErrors,avgConf,dupCount}}];"},"id":"e71678a1-211d-451f-81ac-1ffe1aaaf829","name":"Aggregate Stats","position":[-928,96],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"act","leftValue":"={{ $json.totalCount }}","operator":{"operation":"gt","type":"number"},"rightValue":0}],"combinator":"and"},"options":{}},"id":"5b85bcfa-eb82-4556-9e8d-6769b5c6834d","name":"Has Activity Today?","position":[-704,96],"type":"n8n-nodes-base.if","typeVersion":2},{"parameters":{"jsCode":"const d=$(\u0027Aggregate Stats\u0027).first().json;\nconst currTable=d.currencyRows.map(r=\u003e\u0027\u003ctr\u003e\u003ctd style=\"padding:7px 14px;border-bottom:1px solid #eee\"\u003e\u0027+r.currency+\u0027\u003c/td\u003e\u003ctd style=\"padding:7px 14px;border-bottom:1px solid #eee;text-align:right\"\u003e\u0027+r.count+\u0027\u003c/td\u003e\u003ctd style=\"padding:7px 14px;border-bottom:1px solid #eee;text-align:right;font-weight:700\"\u003e\u0027+r.total+\u0027\u003c/td\u003e\u003c/tr\u003e\u0027).join(\u0027\u0027)||\u0027\u003ctr\u003e\u003ctd colspan=\"3\" style=\"padding:10px 14px;color:#999;font-style:italic\"\u003eNo verified invoices today\u003c/td\u003e\u003c/tr\u003e\u0027;\nconst errLines=Object.entries(d.topErrors).sort((a,b)=\u003eb[1]-a[1]).slice(0,8).map(([msg,cnt])=\u003e\u0027\u003cli style=\"margin-bottom:4px\"\u003e\u0027+msg+\u0027 \u003cspan style=\"color:#999;font-size:12px\"\u003e(\u0027+cnt+\u0027x)\u003c/span\u003e\u003c/li\u003e\u0027).join(\u0027\u0027)||\u0027\u003cli style=\"color:#999;font-style:italic\"\u003eNo flagging errors today\u003c/li\u003e\u0027;\nconst card=(label,value,color)=\u003e\u0027\u003cdiv style=\"flex:1;min-width:100px;background:#fff;border-radius:8px;padding:16px;border:1px solid #e8e8e8;text-align:center\"\u003e\u003cdiv style=\"font-size:11px;color:#888;text-transform:uppercase;margin-bottom:6px\"\u003e\u0027+label+\u0027\u003c/div\u003e\u003cdiv style=\"font-size:26px;font-weight:700;color:\u0027+(color||\u0027#222\u0027)+\u0027\"\u003e\u0027+value+\u0027\u003c/div\u003e\u003c/div\u003e\u0027;\nconst html=\u0027\u003cdiv style=\"font-family:Arial,sans-serif;max-width:640px;margin:0 auto\"\u003e\u003cdiv style=\"background:#0f6e56;padding:24px 32px;border-radius:10px 10px 0 0\"\u003e\u003ch2 style=\"color:#fff;margin:0;font-size:20px\"\u003eInvoice Audit Daily Digest\u003c/h2\u003e\u003cp style=\"color:#9fe1cb;margin:5px 0 0\"\u003e\u0027+d.today+\u0027\u003c/p\u003e\u003c/div\u003e\u003cdiv style=\"background:#f7f7f5;padding:24px 32px\"\u003e\u003cdiv style=\"display:flex;gap:12px;margin-bottom:24px;flex-wrap:wrap\"\u003e\u0027+card(\u0027Processed\u0027,d.totalCount,\u0027#222\u0027)+card(\u0027Pass Rate\u0027,d.passRate+\u0027%\u0027,\u0027#0f6e56\u0027)+card(\u0027Flagged\u0027,d.flaggedCount,\u0027#c04828\u0027)+card(\u0027Needs Review\u0027,d.needsReviewCount,\u0027#e67e22\u0027)+card(\u0027Total Amount\u0027,d.totalAmount,\u0027#222\u0027)+\u0027\u003c/div\u003e\u003ch3 style=\"font-size:13px;font-weight:700;margin:0 0 10px;color:#444\"\u003eCurrency Breakdown\u003c/h3\u003e\u003ctable style=\"width:100%;border-collapse:collapse;background:#fff;border-radius:8px;border:1px solid #e8e8e8;margin-bottom:24px\"\u003e\u003cthead\u003e\u003ctr style=\"background:#f1efe8\"\u003e\u003cth style=\"padding:9px 14px;text-align:left;font-size:12px;color:#666\"\u003eCurrency\u003c/th\u003e\u003cth style=\"padding:9px 14px;text-align:right;font-size:12px;color:#666\"\u003eInvoices\u003c/th\u003e\u003cth style=\"padding:9px 14px;text-align:right;font-size:12px;color:#666\"\u003eTotal\u003c/th\u003e\u003c/tr\u003e\u003c/thead\u003e\u003ctbody\u003e\u0027+currTable+\u0027\u003c/tbody\u003e\u003c/table\u003e\u003ch3 style=\"font-size:13px;font-weight:700;margin:0 0 10px;color:#444\"\u003eTop Flag Reasons\u003c/h3\u003e\u003cul style=\"margin:0;padding:14px 14px 14px 30px;font-size:13px;background:#fff;border-radius:8px;border:1px solid #e8e8e8\"\u003e\u0027+errLines+\u0027\u003c/ul\u003e\u0027+(d.avgConf!==null?\u0027\u003cp style=\"margin:16px 0 0;font-size:12px;color:#888\"\u003eAvg AI confidence on verified: \u003cb\u003e\u0027+d.avgConf+\u0027%\u003c/b\u003e \u0026middot; Duplicates caught: \u003cb\u003e\u0027+d.dupCount+\u0027\u003c/b\u003e\u003c/p\u003e\u0027:\u0027\u0027)+\u0027\u003c/div\u003e\u003cdiv style=\"background:#e8e8e8;padding:10px 32px;border-radius:0 0 10px 10px;font-size:11px;color:#999;text-align:center\"\u003eInvoice Vision Auditor \u0026middot; n8n + Gemini 2.5 Flash\u003c/div\u003e\u003c/div\u003e\u0027;\nreturn [{json:{subject:\u0027Invoice Digest \u0027+d.today+\u0027 — \u0027+d.verifiedCount+\u0027 verified, \u0027+d.flaggedCount+\u0027 flagged, \u0027+d.needsReviewCount+\u0027 needs review\u0027,html}}];"},"id":"c646baa8-829d-4e04-a679-83f1f0c7d30d","name":"Build Digest Email","position":[-480,96],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"fromEmail":"your-email@example.com","toEmail":"your-email@example.com","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{}},"id":"b0300106-97c2-4925-976a-160a30aa7e01","name":"Send Daily Digest","position":[-256,96],"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"webhookId":"2ec05cd8-6ad6-46ba-aa4a-ba05ea3a824f","credentials":{"smtp":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"SMTP Account"}},"onError":"continueRegularOutput"}],"connections":{"Aggregate Stats":{"main":[[{"index":0,"node":"Has Activity Today?","type":"main"}]]},"Build Digest Email":{"main":[[{"index":0,"node":"Send Daily Digest","type":"main"}]]},"Daily 8am Trigger":{"main":[[{"index":0,"node":"Read Verified Sheet","type":"main"}]]},"Has Activity Today?":{"main":[[{"index":0,"node":"Build Digest Email","type":"main"}]]},"Read Flagged Sheet":{"main":[[{"index":0,"node":"Read Needs Review Sheet","type":"main"}]]},"Read Needs Review Sheet":{"main":[[{"index":0,"node":"Aggregate Stats","type":"main"}]]},"Read Verified Sheet":{"main":[[{"index":0,"node":"Read Flagged Sheet","type":"main"}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed"},"staticData":{"node:Daily 8am Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"c5a0a56b-02d3-4aa7-990a-7e40dd41e74c","activeVersionId":"c5a0a56b-02d3-4aa7-990a-7e40dd41e74c","versionCounter":39,"triggerCount":1,"shared":[{"updatedAt":"2026-03-22T19:59:54.234Z","createdAt":"2026-03-22T19:59:54.234Z","role":"workflow:owner","workflowId":"tOa98TCp5uydQ73B","projectId":"4z38v6JO6ntgY8gF","project":{"updatedAt":"2026-01-13T19:13:51.671Z","createdAt":"2026-01-13T19:11:25.659Z","id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"YOUR_NAME \u003cyour-email@example.com\u003e","type":"personal","icon":null,"description":null,"creatorId":"75bbfac3-5195-4843-9435-78dfd0d8f34f"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-08T20:11:30.000Z","createdAt":"2026-04-08T20:11:02.317Z","versionId":"c5a0a56b-02d3-4aa7-990a-7e40dd41e74c","workflowId":"tOa98TCp5uydQ73B","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"id":"9018a457-352b-43bf-aec3-78ba209d4f5c","name":"Daily 8am Trigger","position":[-1824,96],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"parameters":{"sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Verified!A:P","options":{}},"alwaysOutputData":true,"id":"5465f4c8-205e-45ab-a98a-0d5be125705a","name":"Read Verified Sheet","position":[-1600,96],"type":"n8n-nodes-base.googleSheets","typeVersion":2,"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Flagged Invoices!A:P","options":{}},"alwaysOutputData":true,"id":"a337f97a-970e-4463-a45a-3335ba339285","name":"Read Flagged Sheet","position":[-1376,96],"type":"n8n-nodes-base.googleSheets","typeVersion":2,"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"sheetId":"REPLACE_WITH_YOUR_SHEET_ID","range":"Needs Review!A:P","options":{}},"alwaysOutputData":true,"id":"1a1f3255-658c-403d-93f6-dccf4bc62d99","name":"Read Needs Review Sheet","position":[-1152,96],"type":"n8n-nodes-base.googleSheets","typeVersion":2,"credentials":{"googleSheetsOAuth2Api":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Google Sheets Account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const today=new Date().toISOString().slice(0,10);\nconst verified=$(\u0027Read Verified Sheet\u0027).all().map(i=\u003ei.json).filter(r=\u003eString(r.processed_at||\u0027\u0027).startsWith(today));\nconst flagged=$(\u0027Read Flagged Sheet\u0027).all().map(i=\u003ei.json).filter(r=\u003eString(r.processed_at||\u0027\u0027).startsWith(today));\nconst needsReview=$(\u0027Read Needs Review Sheet\u0027).all().map(i=\u003ei.json).filter(r=\u003eString(r.processed_at||\u0027\u0027).startsWith(today));\nconst totalCount=verified.length+flagged.length+needsReview.length;\nconst passRate=totalCount\u003e0?((verified.length/totalCount)*100).toFixed(1):\u00270.0\u0027;\nconst totalAmount=verified.reduce((s,r)=\u003e{const v=parseFloat(r.total_amount);return s+(isNaN(v)?0:v);},0);\nconst currencyMap={};\nfor(const r of verified){const c=r.currency||\u0027UNKNOWN\u0027;if(!currencyMap[c])currencyMap[c]={count:0,total:0};currencyMap[c].count++;currencyMap[c].total+=parseFloat(r.total_amount)||0;}\nconst currencyRows=Object.entries(currencyMap).sort((a,b)=\u003eb[1].total-a[1].total).map(([currency,d])=\u003e({currency,count:d.count,total:d.total.toFixed(2)}));\nconst topErrors=flagged.flatMap(r=\u003e(r.errors||\u0027\u0027).split(\u0027 | \u0027).filter(Boolean)).reduce((acc,e)=\u003e{acc[e.trim()]=(acc[e.trim()]||0)+1;return acc;},{});\nconst avgConf=verified.length\u003e0?Math.round(verified.reduce((s,r)=\u003es+(parseFloat(r.confidence_score)||0),0)/verified.length*100):null;\nconst dupCount=[...flagged,...needsReview].filter(r=\u003eString(r.is_duplicate)===\u0027true\u0027).length;\nreturn [{json:{today,totalCount,verifiedCount:verified.length,flaggedCount:flagged.length,needsReviewCount:needsReview.length,passRate,totalAmount:totalAmount.toFixed(2),currencyRows,topErrors,avgConf,dupCount}}];"},"id":"e71678a1-211d-451f-81ac-1ffe1aaaf829","name":"Aggregate Stats","position":[-928,96],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"act","leftValue":"={{ $json.totalCount }}","operator":{"operation":"gt","type":"number"},"rightValue":0}],"combinator":"and"},"options":{}},"id":"5b85bcfa-eb82-4556-9e8d-6769b5c6834d","name":"Has Activity Today?","position":[-704,96],"type":"n8n-nodes-base.if","typeVersion":2},{"parameters":{"jsCode":"const d=$(\u0027Aggregate Stats\u0027).first().json;\nconst currTable=d.currencyRows.map(r=\u003e\u0027\u003ctr\u003e\u003ctd style=\"padding:7px 14px;border-bottom:1px solid #eee\"\u003e\u0027+r.currency+\u0027\u003c/td\u003e\u003ctd style=\"padding:7px 14px;border-bottom:1px solid #eee;text-align:right\"\u003e\u0027+r.count+\u0027\u003c/td\u003e\u003ctd style=\"padding:7px 14px;border-bottom:1px solid #eee;text-align:right;font-weight:700\"\u003e\u0027+r.total+\u0027\u003c/td\u003e\u003c/tr\u003e\u0027).join(\u0027\u0027)||\u0027\u003ctr\u003e\u003ctd colspan=\"3\" style=\"padding:10px 14px;color:#999;font-style:italic\"\u003eNo verified invoices today\u003c/td\u003e\u003c/tr\u003e\u0027;\nconst errLines=Object.entries(d.topErrors).sort((a,b)=\u003eb[1]-a[1]).slice(0,8).map(([msg,cnt])=\u003e\u0027\u003cli style=\"margin-bottom:4px\"\u003e\u0027+msg+\u0027 \u003cspan style=\"color:#999;font-size:12px\"\u003e(\u0027+cnt+\u0027x)\u003c/span\u003e\u003c/li\u003e\u0027).join(\u0027\u0027)||\u0027\u003cli style=\"color:#999;font-style:italic\"\u003eNo flagging errors today\u003c/li\u003e\u0027;\nconst card=(label,value,color)=\u003e\u0027\u003cdiv style=\"flex:1;min-width:100px;background:#fff;border-radius:8px;padding:16px;border:1px solid #e8e8e8;text-align:center\"\u003e\u003cdiv style=\"font-size:11px;color:#888;text-transform:uppercase;margin-bottom:6px\"\u003e\u0027+label+\u0027\u003c/div\u003e\u003cdiv style=\"font-size:26px;font-weight:700;color:\u0027+(color||\u0027#222\u0027)+\u0027\"\u003e\u0027+value+\u0027\u003c/div\u003e\u003c/div\u003e\u0027;\nconst html=\u0027\u003cdiv style=\"font-family:Arial,sans-serif;max-width:640px;margin:0 auto\"\u003e\u003cdiv style=\"background:#0f6e56;padding:24px 32px;border-radius:10px 10px 0 0\"\u003e\u003ch2 style=\"color:#fff;margin:0;font-size:20px\"\u003eInvoice Audit Daily Digest\u003c/h2\u003e\u003cp style=\"color:#9fe1cb;margin:5px 0 0\"\u003e\u0027+d.today+\u0027\u003c/p\u003e\u003c/div\u003e\u003cdiv style=\"background:#f7f7f5;padding:24px 32px\"\u003e\u003cdiv style=\"display:flex;gap:12px;margin-bottom:24px;flex-wrap:wrap\"\u003e\u0027+card(\u0027Processed\u0027,d.totalCount,\u0027#222\u0027)+card(\u0027Pass Rate\u0027,d.passRate+\u0027%\u0027,\u0027#0f6e56\u0027)+card(\u0027Flagged\u0027,d.flaggedCount,\u0027#c04828\u0027)+card(\u0027Needs Review\u0027,d.needsReviewCount,\u0027#e67e22\u0027)+card(\u0027Total Amount\u0027,d.totalAmount,\u0027#222\u0027)+\u0027\u003c/div\u003e\u003ch3 style=\"font-size:13px;font-weight:700;margin:0 0 10px;color:#444\"\u003eCurrency Breakdown\u003c/h3\u003e\u003ctable style=\"width:100%;border-collapse:collapse;background:#fff;border-radius:8px;border:1px solid #e8e8e8;margin-bottom:24px\"\u003e\u003cthead\u003e\u003ctr style=\"background:#f1efe8\"\u003e\u003cth style=\"padding:9px 14px;text-align:left;font-size:12px;color:#666\"\u003eCurrency\u003c/th\u003e\u003cth style=\"padding:9px 14px;text-align:right;font-size:12px;color:#666\"\u003eInvoices\u003c/th\u003e\u003cth style=\"padding:9px 14px;text-align:right;font-size:12px;color:#666\"\u003eTotal\u003c/th\u003e\u003c/tr\u003e\u003c/thead\u003e\u003ctbody\u003e\u0027+currTable+\u0027\u003c/tbody\u003e\u003c/table\u003e\u003ch3 style=\"font-size:13px;font-weight:700;margin:0 0 10px;color:#444\"\u003eTop Flag Reasons\u003c/h3\u003e\u003cul style=\"margin:0;padding:14px 14px 14px 30px;font-size:13px;background:#fff;border-radius:8px;border:1px solid #e8e8e8\"\u003e\u0027+errLines+\u0027\u003c/ul\u003e\u0027+(d.avgConf!==null?\u0027\u003cp style=\"margin:16px 0 0;font-size:12px;color:#888\"\u003eAvg AI confidence on verified: \u003cb\u003e\u0027+d.avgConf+\u0027%\u003c/b\u003e \u0026middot; Duplicates caught: \u003cb\u003e\u0027+d.dupCount+\u0027\u003c/b\u003e\u003c/p\u003e\u0027:\u0027\u0027)+\u0027\u003c/div\u003e\u003cdiv style=\"background:#e8e8e8;padding:10px 32px;border-radius:0 0 10px 10px;font-size:11px;color:#999;text-align:center\"\u003eInvoice Vision Auditor \u0026middot; n8n + Gemini 2.5 Flash\u003c/div\u003e\u003c/div\u003e\u0027;\nreturn [{json:{subject:\u0027Invoice Digest \u0027+d.today+\u0027 — \u0027+d.verifiedCount+\u0027 verified, \u0027+d.flaggedCount+\u0027 flagged, \u0027+d.needsReviewCount+\u0027 needs review\u0027,html}}];"},"id":"c646baa8-829d-4e04-a679-83f1f0c7d30d","name":"Build Digest Email","position":[-480,96],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"fromEmail":"your-email@example.com","toEmail":"your-email@example.com","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{}},"id":"b0300106-97c2-4925-976a-160a30aa7e01","name":"Send Daily Digest","position":[-256,96],"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"webhookId":"2ec05cd8-6ad6-46ba-aa4a-ba05ea3a824f","credentials":{"smtp":{"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"SMTP Account"}},"onError":"continueRegularOutput"}],"connections":{"Aggregate Stats":{"main":[[{"index":0,"node":"Has Activity Today?","type":"main"}]]},"Build Digest Email":{"main":[[{"index":0,"node":"Send Daily Digest","type":"main"}]]},"Daily 8am Trigger":{"main":[[{"index":0,"node":"Read Verified Sheet","type":"main"}]]},"Has Activity Today?":{"main":[[{"index":0,"node":"Build Digest Email","type":"main"}]]},"Read Flagged Sheet":{"main":[[{"index":0,"node":"Read Needs Review Sheet","type":"main"}]]},"Read Needs Review Sheet":{"main":[[{"index":0,"node":"Aggregate Stats","type":"main"}]]},"Read Verified Sheet":{"main":[[{"index":0,"node":"Read Flagged Sheet","type":"main"}]]}},"authors": "YOUR_NAME","name":"Version c5a0a56b","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-08T20:11:30.134Z","id":611,"workflowId":"tOa98TCp5uydQ73B","versionId":"c5a0a56b-02d3-4aa7-990a-7e40dd41e74c","event":"activated","userId":"75bbfac3-5195-4843-9435-78dfd0d8f34f"}]}}
